<p>
  Der Kern unseres heutigen Männerballetts setzt sich aus aktiven Fußballern des FC Röhlingen und dessen näheren Umfeld zusammen.
  Der erste Auftritt als reines Männerballett ohne weibliche Unterstützung war 1986 mit dem Klassiker „Schwanensee“. Ein paar
  Highlights waren Schwarzwaldmädels, Afrikanische Massaitänzerinnen oder Buddhas Traumwelt aus Indien.
</p>
<p>
  Mittlerweile ist die Gruppe weit über die Grenzen Röhlingens hinaus bekannt und bestreitet in der Faschingssaison mehrere
  Gastauftritte bei anderen Vereinen. Jedes Jahr wird es schwieriger ein neues Thema zu finden, das noch toller und besser sein
  muss, als im Jahr zuvor. Das harte Training beginnt schon kurz nach den Sommerferien, mit unseren talentierten, wunderbaren und
  viel Geduld habenden Trainerinnen. Dafür ein großes Dankeschön!!!
</p>
<p>
  Unser oberstes Ziel ist es, das Publikum mit unseren anmutigen Körpern und ausdrucksstarken, gefühlvollen Tanz zu erfreuen.
  Natürlich kommt es nicht nur auf die präzise ausgeführten Tanzschritte an, dass unser Auftritt so perfekt wirkt. Ein großer
  Teil, hängt von unserer auf den Leib geschneiderten Kostümen ab, nun schon im 10. Jahr!!, designed und geschneidert von unsere
  Schneiderin Yvonne Pautz.
</p>
<p>
  Außerhalb der närrischen Zeit treffen wir uns jährlich am Karfreitag, um gemeinsam die Fastenzeit zu beenden. Diesen schon
  traditionellen Anlass nehmen wir um die vergangene Saison Revue passieren zu lassen und einen Ausblick auf die bevorstehende
  Saison zu nehmen. Bei weiteren Events wie Weihnachtsfeier, die traditionelle 3-Königsprobe oder gemeinsame Ausflüge treffen wir
  uns auch übers Jahr des Öfteren.
</p>

<h3>Auftritte</h3>

<div class="table">
  <div class="card" *ngFor="let performance of performances">
    <h4>{{ performance.year }}</h4>
    <h4 class="title">{{ performance.theme }}</h4>
    <div><strong>Leitung:</strong> {{ performance.trainer }}</div>
    <div><strong>Aktive:</strong> {{ performance.dancers }}</div>
    <button class="text icon" [routerLink]="'/images/overview/männerballett ' + performance.year">
      <i class="material-icons">photo</i>
    </button>
  </div>
</div>
