@import "src/app/shared/scss-partials/colors.scss";

:host {
  height: 100%;
  padding: 2px;
  background: $background;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .appointments {
    max-height: 60%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-size: 15px;

    span {
      background-color: rgba($tertiary, .3);
      transition: background-color linear .2s;

      &:hover {
        background-color: rgba($tertiary, .6);
      }
    }
  }
}
