:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-chip-list {
  width: 100%;
}

img {
  max-width: 100%;
  margin-bottom: 16px;
}

.fab-container {
  position: sticky;
  width: 100%;
  z-index: 1;
  bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    margin: 8px;
  }
}

.footer {
  font-size: 12px;
}
