:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--content-spacing);
    padding: 0.5rem;
    position: relative;

    button {
      position: absolute;
      top: 0;
      right: 0;
    }

    img {
      max-width: 100%;
      margin-bottom: 0.5rem;
    }
  }
}
