<h1 class="mat-display-2">Artikel Editor</h1>

<form *ngIf="articleForm" [formGroup]="articleForm">
  <mat-form-field [style.grid-area]="'title'">
    <mat-label>Titel</mat-label>
    <input matInput formControlName="title" />
    <mat-error *ngIf="articleForm.controls.title.invalid"> {{ articleForm.controls.title | errorMessage }} </mat-error>
  </mat-form-field>

  <mat-form-field [style.grid-area]="'tags'">
    <mat-chip-list #chipList aria-label="tag Auswahl" formControlName="tags">
      <mat-chip *ngFor="let tag of articleForm.get('tags').value" (removed)="chips.removeItem(tag, articleForm.get('tags'))">
        {{ tag }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Tags"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="chips.addItem($event, articleForm.get('tags'))"
      />
    </mat-chip-list>
  </mat-form-field>

  <mat-tab-group>
    <mat-tab label="Bearbeiten">
      <mat-form-field class="description">
        <mat-label>Beschreibung</mat-label>
        <textarea
          matInput
          [mat-autosize]="true"
          [matAutosizeMinRows]="4"
          [matAutosizeMaxRows]="10"
          formControlName="content"
        ></textarea>
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Vorschau">
      <app-markdown-preview [markdownText]="articleForm.get('content').value"></app-markdown-preview>
    </mat-tab>
  </mat-tab-group>
</form>

<div class="submitButtons">
  <ng-container *ngIf="(isLoading$ | async) !== true; else spinner">
    <button mat-raised-button [color]="'primary'" [disabled]="!canSave" (click)="onSubmit()">
      <mat-icon>save</mat-icon> SPEICHERN
    </button>
    <button mat-raised-button [color]="'warn'" [disabled]="!article?.id" (click)="deleteArticle()">
      <mat-icon>delete</mat-icon> LÖSCHEN
    </button>
  </ng-container>
  <ng-template #spinner>
    <mat-spinner [style.grid-area]="'save'" [color]="'accent'" [diameter]="36"></mat-spinner>
  </ng-template>
</div>
