@import '../../../shared/style-partials/variables.scss';

:host {
  display: block;
  padding: 16px;
}

:host > h1 {
  margin: 16px 0;
}

form {
  display: flex;
  flex-direction: column;

  & > .mat-form-field:not(.mat-form-field-type-mat-chip-list) {
    max-width: 350px;
  }

  .description,
  app-markdown-preview {
    margin-top: 0.5rem;
  }
  .description {
    width: 100%;
  }

  app-markdown-preview {
    min-height: 10vh;
    max-height: 50vh;
  }
}

.submitButtons {
  margin-top: 16px;

  button {
    margin: 0.5rem;
  }
}
