<div [ngClass]="{'active': routeParts[0] === 'groups'}" class="textItem" routerLink="groups">
  <span appHoverable>Gruppen</span>
</div>
<div [ngClass]="{'active': routeParts[0] === 'events'}" class="textItem" routerLink="events">
  <span appHoverable>Events</span>
</div>
<div [ngClass]="{'active': routeParts[0] === 'archive'}" class="textItem" routerLink="archive">
  <span appHoverable>Archiv</span>
</div>
<div [ngClass]="{'active': routeParts[0] === 'calendar'}" class="svgItem" routerLink="calendar">
  <svg>
    <use href="assets/svg/calendar-alt-regular.svg#calendar" />
  </svg>
</div>
<div [ngClass]="{'active': routeParts[0] === 'images'}" class="svgItem" routerLink="images">
  <svg>
    <use href="assets/svg/images-regular.svg#images" />
  </svg>
</div>
<div [ngClass]="{'active': routeParts[0] === 'edit'}" class="svgItem" routerLink="edit" *ngIf="auth.username | async">
  <svg>
    <use href="assets/svg/edit-solid.svg#edit-solid" />
  </svg>
</div>