@import './app/shared/style-partials/variables.scss';
// apply the theme
@include angular-material-theme($theme);
// apply the typography
@media screen and (max-width: 600px) {
  @include mat-base-typography($mobile-typography);
}
@media screen and (min-width: 601px) {
  @include mat-base-typography($desktop-typography);
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}
