// @import "../../../shared/partials/card.scss";

:host {
  width: 100%;
  padding: var(--content-spacing);

  display: grid;
  align-items: center;
  grid-template-columns: var(--card-grid-columns);
  grid-auto-rows: min-content;
  row-gap: 1rem;
  column-gap: 1rem;

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas: "name name" ". .";
    row-gap: 1rem;

    h3 {
      grid-area: name;
    }

    button {
      justify-self: right;
    }

    app-dropdown.ng-pristine + button {
      visibility: hidden;
    }
  }
}
