<h1>
  <i class="material-icons" [routerLink]="['/calendar', previousMonthString]">navigate_before</i>
  <span>{{ headerString }}</span>
  <i class="material-icons" [routerLink]="['/calendar', nextMonthString]">navigate_next</i>
</h1>
<h2 *ngFor="let weekday of weekdayStrings" [style.grid-area]="weekday.area">{{ weekday.text }}</h2>

<div *ngFor="let day of dayTemplate" [style.grid-area]="day.gridArea" class="dayCard">
  <h3>{{ day.date }}</h3>
  <ul class="eventWrapper">
    <li *ngFor="let ev of day.events">{{ ev.title }}</li>
  </ul>
</div>
