:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-list {
  width: 100%;
  max-width: 800px;
  margin-bottom: 16px;

  .long-item {
    height: unset;

    .mat-line {
      white-space: pre-line;
    }
  }
}
