<div class="versionNumber">
  <span> {{ versionNumber }} </span>
</div>
<footer>
  <div class="left">
    <h4 class="mat-subheading-2">Kontakt:</h4>
    <a mat-button href="https://www.facebook.com/pg/RoehlingerSechtanarren" target="_blank">Facebook</a>
    <a mat-button href="mailto: info@roesena.de">info@roesena.de</a>
  </div>
  <div class="center">
    <p>
      Faschingsgesellschaft Röhlinger Sechtanarren e.V. <br />
      Dagmar Gerold <br />
      An der Sechta 2 <br />
      73479 Ellwangen-Röhlingen
    </p>
  </div>
  <div class="right">
    <h4 class="mat-subheading-2">Mehr Informationen:</h4>
    <a mat-button routerLink="/help">HILFE</a>
    <a mat-button routerLink="/about">IMPRESSUM</a>
  </div>
</footer>
