<app-page-header [title]="'Bilder'" [subtitle]="'Die Gesichter der RöSeNa'" [matIcon]="'insert_photo'"></app-page-header>

<ng-container *ngIf="data$ | async as images; else loading">
  <mat-grid-list [cols]="cols" [rowHeight]="'420px'" [gutterSize]="'16px'" @cardFlyIn>
    <mat-grid-tile *ngFor="let image of images">
      <app-image-card [data]="image"></app-image-card>
    </mat-grid-tile>
  </mat-grid-list>

  <a
    mat-fab
    color="primary"
    [routerLink]="'/images/edit'"
    *ngIf="canCreate$ | async"
    aria-label="Neues Bild hochladen"
    matTooltip="Neues Bild hochladen"
    ><mat-icon>add</mat-icon></a
  >

  <app-paginator [pageIndex]="0" [pageSize]="limit" [length]="length$ | async"></app-paginator>
</ng-container>

<ng-template #loading>
  <div class="spinnerContainer">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>
</ng-template>
