@import '../../../shared/style-partials/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: $accent;
  }

  .add-fab {
    position: sticky;
    z-index: 1;
    bottom: 16px;
  }

  .mat-grid-list,
  .mat-paginator {
    width: calc(100% - 32px);
    margin: 16px;
  }
}
