:host {
  $size: 1rem;
  position: relative;
  font-size: $size;
  width: 100%;

  textarea {
    resize: none;
  }

  input,
  textarea {
    font-size: $size;
    padding: $size;
    width: 100%;
    padding-right: #{1.5 * $size};
    border: 1px solid var(--primary);
    border-radius: #{$size / 2};
    background-color: var(--surface);
    outline: none;
    transition: border-color ease-out 0.2s;

    &:invalid {
      border-color: var(--error);
    }
  }

  .label {
    color: var(--primary);
    pointer-events: none;
    padding: 0 0.2rem;
    position: absolute;
    top: $size;
    left: $size;
    transition: all ease-out 0.2s;
  }

  :focus + .label,
  :not(.empty) + .label {
    top: -#{$size / 2};
    background-color: var(--surface);
  }

  &.ng-invalid {
    .label {
      color: var(--error);
    }

    .helpText {
      visibility: visible;
    }

    i {
      visibility: visible;
    }
  }

  .helpText {
    visibility: hidden;
    position: absolute;
    top: $size;
    right: #{2.5 * $size};
    color: var(--error);
    background-color: var(--surface);
  }

  i {
    position: absolute;
    visibility: hidden;
    font-size: $size;
    top: $size;
    right: #{$size / 2};
    color: var(--error);
  }
}
