:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  ::ng-deep table {
    th {
      text-align: left;
      padding: 0 8px;
    }
    td {
      padding: 8px;
      vertical-align: top;
    }
  }
}
