<mat-toolbar>
  <span>{{ person.name }}</span>
  <div class="spacer"></div>
  <div class="toolbarItemContainer" *ngIf="!person.isConfirmedMember">
    <button
      *ngIf="!isLoadingConfirmation; else confirmSpinner"
      mat-icon-button
      [color]="'accent'"
      type="button"
      (click)="onConfrimClick()"
    >
      <mat-icon>check</mat-icon>
    </button>
    <ng-template #confirmSpinner>
      <mat-spinner [color]="'accent'" [diameter]="32"></mat-spinner>
    </ng-template>
  </div>
  <div class="toolbarItemContainer">
    <button
      *ngIf="!isLoadingDeletion; else deleteSpinner"
      type="button"
      (click)="onDeleteClick()"
      mat-icon-button
      [color]="'warn'"
      type="button"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <ng-template #deleteSpinner>
      <mat-spinner [color]="'warn'" [diameter]="30"></mat-spinner>
    </ng-template>
  </div>
</mat-toolbar>

<mat-form-field>
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let group of person.groups" (removed)="onRemoveGroup(person.id, group)">
      {{ group }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Gruppen"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="onAddGroup(person.id, $event.value)"
    />
  </mat-chip-list>
</mat-form-field>
