<!-- there are 2 modes: desktop and mobile, the breakpoint is 600px width -->
<ng-container *ngIf="isHandset$ | async; then handset; else desktop"></ng-container>

<!-- mobile mode -->
<ng-template #handset>
  <mat-toolbar color="primary">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <a class="logo" routerLink="/" aria-label="Startseite" mat-icon-button><mat-icon svgIcon="rsn"></mat-icon></a>
    <div class="spacer"></div>
    <app-search-bar></app-search-bar>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" (swipeleft)="closeNav()">
    <mat-sidenav #drawer class="sidenav" [attr.role]="'dialog'" [mode]="'over'" [opened]="false">
      <mat-nav-list>
        <a mat-list-item routerLink="/events">Events</a>
        <a mat-list-item routerLink="/articles">Artikel</a>
        <a mat-list-item routerLink="/images">Bilder</a>
        <a mat-list-item routerLink="/calendar">Kalender</a>

        <mat-expansion-panel mat-list-item>
          <mat-expansion-panel-header>
            <mat-panel-title>Gruppen</mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="/groups/brandjoggala">Brandjoggala</a>
          <a mat-list-item routerLink="/groups/garden">Garden</a>
          <a mat-list-item routerLink="/groups/maennerballett">Männerballett</a>
          <a mat-list-item routerLink="/groups/roehling-stones">Röhling Stones</a>
          <a mat-list-item routerLink="/groups/sechtafeger">Sechtafeger</a>
          <a mat-list-item routerLink="/groups/wildes-heer">Das Wilde Heer</a>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Account </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container *ngIf="user$ | async as user; else authenticate">
            <a mat-list-item routerLink="/auth/profile">Profil</a>
            <a mat-list-item *ngIf="user.isConfirmedMember" [matBadge]="badgeContentStream$ | async" routerLink="/auth/my-events"
              >Meine Events</a
            >
            <a mat-list-item *ngIf="user.groups.includes('admin')" routerLink="/auth/group-manager">Gruppen Manager</a>
          </ng-container>
          <ng-template #authenticate>
            <a mat-list-item routerLink="/auth/login">Login</a>
            <a mat-list-item routerLink="/auth/register">Registrieren</a>
          </ng-template>
        </mat-expansion-panel>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-container *ngTemplateOutlet="animatedOutlet"></ng-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>

<!-- desktop mode -->
<ng-template #desktop>
  <mat-toolbar color="primary">
    <a class="logo" routerLink="/" mat-icon-button aria-label="Startseite"><mat-icon svgIcon="rsn"></mat-icon></a>
    <a class="home" mat-button routerLink="/">RöSeNa</a>
    <a mat-button routerLink="/events/overview">Events</a>
    <a mat-button routerLink="/articles/overview">Artikel</a>
    <a mat-button routerLink="/images/overview">Bilder</a>
    <button mat-button [matMenuTriggerFor]="groupsMenu">Gruppen</button>
    <mat-menu #groupsMenu="matMenu" xPosition="after">
      <a mat-menu-item routerLink="/groups/brandjoggala">Brandjoggala</a>
      <a mat-menu-item routerLink="/groups/garden">Garden</a>
      <a mat-menu-item routerLink="/groups/maennerballett">Männerballett</a>
      <a mat-menu-item routerLink="/groups/roehling-stones">Röhling Stones</a>
      <a mat-menu-item routerLink="/groups/sechtafeger">Sechtafeger</a>
      <a mat-menu-item routerLink="/groups/wildes-heer">Das Wilde Heer</a>
    </mat-menu>
    <div class="spacer"></div>
    <button mat-icon-button [matMenuTriggerFor]="accountMenu" aria-label="Account Menü">
      <mat-icon [matBadge]="badgeContentStream$ | async" matBadgeColor="accent">account_circle</mat-icon>
    </button>
    <mat-menu #accountMenu="matMenu" xPosition="before">
      <ng-container *ngIf="user$ | async as user; else authenticate">
        <a mat-menu-item routerLink="/auth/profile">Profil</a>
        <a mat-menu-item *ngIf="user.isConfirmedMember" routerLink="/auth/my-events">Meine Events </a>
        <a mat-menu-item *ngIf="user.groups.includes('admin')" routerLink="/auth/group-manager">Gruppen Manager</a>
      </ng-container>
      <ng-template #authenticate>
        <a mat-menu-item routerLink="/auth/login">Login</a>
        <a mat-menu-item routerLink="/auth/register">Registrieren</a>
      </ng-template>
    </mat-menu>
    <app-search-bar></app-search-bar>
  </mat-toolbar>
  <ng-container *ngTemplateOutlet="animatedOutlet"></ng-container>
</ng-template>

<!-- reusable router outlet with page transitions -->
<ng-template #animatedOutlet>
  <div class="outletContainer" [@pageTransition]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
  <app-footer></app-footer>
</ng-template>
