@import './colors.scss';

.rsn-button {
  margin: 1rem;
  background-color: $primary;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 1.1rem;
  padding: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  transition: all ease-out 0.1s;
  cursor: pointer;
  color: $font;
}

.rsn-button:active {
  transform: scale(1.1);
}