.default-theme {
  --background: rgb(255, 255, 255);
  --highlight: rgb(255, 236, 5);
  --primary: rgb(240, 128, 128);
  --secondary: rgb(25, 118, 210);
  --font: rgb(0, 0, 0);
  --font-accent: rgb(47, 50, 79);
  --font-secondary: rgb(255, 255, 255);
  --inactive: rgb(211, 211, 211);
}
