:host {
  z-index: 1;
  display: block;
  color: var(--on-surface);
  background-color: var(--surface);
  box-shadow: 0 2px 5px 0px var(--on-background);
  height: 100%;

  @media only screen and (max-width: 1000px) {
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform ease-out 0.2s;
    &.visible {
      transform: translateX(0);
    }
  }

  nav {
    overflow-y: auto;
    padding: var(--content-spacing);
    height: 100%;
  }

  .logo {
    color: var(--primary);
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
  }

  .separator {
    $color: var(--primary);
    width: 100%;
    font-size: 0.7rem;
    margin-block-start: 3rem;
    color: $color;
    border-top: 1px solid $color;
  }

  ul {
    list-style-type: none;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin-block-end: 0.5rem;
      color: var(--on-surface);
      border-bottom: 1px solid transparent;
      transition: 0.2s ease-out border-color;
      width: min-content;
      cursor: pointer;
      display: flex;

      &:hover,
      &:focus,
      &.active {
        border-color: var(--primary);
      }
    }
  }
}

.burger {
  position: absolute;
  cursor: pointer;
  bottom: 1rem;
  right: -5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 2rem;
  background-color: var(--surface);
  box-shadow: 0 2px 5px 0px var(--on-background);

  @media only screen and (min-width: 1000px) {
    display: none;
  }
}
.line {
  width: 100%;
  height: calc(100% / 5);
  background-color: var(--primary);
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
:host.visible .line.upper {
  transform: translateY(200%) rotate(45deg);
}
:host.visible .line.middle {
  opacity: 0;
}
:host.visible .line.lower {
  transform: translateY(-200%) rotate(-45deg);
}
