# compiled output
hosting/dist
functions/lib

# dependencies
node_modules

# IDE - VSCode
.vscode

# misc
/.sass-cache
/connect.lock
hosting/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# firebase stuff
.firebase
/*.log

# emulator exports
/export

# admin sdk key to connect emulators to auth api
/key.json

# emulator runtime config
.runtimeconfig.json
