<h1>RöSeNa Veranstaltungen und Termine</h1>

<div class="eventWrapper">
  <section
    *ngFor="let event of events | async"
    class="appEvent"
    (click)="editEvent(event)"
  >
    <h1>{{ event.title }}</h1>
    <h2>
      <time [dateTime]="event.startDate">{{
        event.startDate | toLocalDateString
      }}</time
      >-<time [dateTime]="event.endDate">{{
        event.endDate | toLocalDateString
      }}</time>
    </h2>
    <p>{{ event.description }}</p>
  </section>
</div>

<button routerLink="/events/edit">+</button>

<router-outlet></router-outlet>
