:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: auto;

  > h1 {
    background-color: var(--primary);
    color: var(--on-primary);
    margin: 0;
    padding: 1rem;
    font-size: 3rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    position: sticky;
    top: 0;
  }

  .eventWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    width: 70%;
  }

  button {
    $size: 4rem;
    position: fixed;
    left: calc(50% - #{($size / 2)});
    bottom: 3rem;
    width: $size;
    height: $size;
    border-radius: #{$size / 2};

    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: $size;
    }
  }
}
