:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: auto;

  > h1 {
    background-color: var(--primary);
    color: var(--on-primary);
    margin: 0;
    padding: 1rem;
    font-size: 3rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    position: sticky;
    top: 0;
  }

  .eventWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    width: 70%;

    section.appEvent {
      color: var(--on-surface);
      background-color: var(--surface);
      box-shadow: 0 2px 5px 0px var(--on-background);
      border-radius: 0.5rem;
      margin: 1rem;
      cursor: pointer;

      * {
        margin: 1rem;
      }

      h1,
      h2 {
        text-align: center;
      }

      h1 {
        border-bottom: 1px solid transparent;
        transition: border-color ease-out 0.2s;
      }

      &:hover,
      &:focus,
      &:active {
        > h1 {
          border-color: var(--primary);
        }
      }

      h2 {
        font-size: 1.1rem;
      }
    }
  }

  button {
    $size: 4rem;
    position: fixed;
    left: calc(50% - #{($size / 2)});
    bottom: 3rem;
    width: $size;
    height: $size;
    border-radius: #{$size / 2};
    outline: none;
    font-size: 4rem;
    outline: none;
    border: none;
    line-height: $size;
    cursor: pointer;
    transition: color ease-out 0.2s, background-color ease-out 0.2s;

    background-color: var(--surface);
    box-shadow: 0 2px 5px 0px var(--on-background);
    color: var(--primary);

    &:active,
    &:focus {
      background-color: var(--primary);
      color: var(--on-primary);
    }
  }
}
