<div id="iconContainer">
  <svg rsnAutosizeSvg (click)="close()"><use href="assets/svg/exit.svg#exit"/></svg>
  <span>
    <svg rsnAutosizeSvg (click)="saveAppointment()"><use href="assets/svg/save.svg#save"/></svg>
    <svg rsnAutosizeSvg (click)="createEvent()"><use href="assets/svg/ellipsis-h-solid.svg#ellipsis-h"/></svg>
  </span>
</div>

<!-- id's in most of these elements are needed for validity check on save -->
<div id="content">
  
  <input id="titleInput" [(ngModel)]="title" type="text" placeholder="Titel eingeben" spellcheck="false" pattern="[A-Za-zÄÖÜäöüß ]{1,30}" required="required">

  <div class="inputContainer">
    <span>Start:</span>
    <div>
      <input id="startDate" [(ngModel)]="startDate" type="text" placeholder="dd.mm.yyyy" spellcheck="false" pattern="[0-9]{1,2}[.][0-9]{1,2}[.][0-9]{4}" required="required">
      <input id="startTime" [(ngModel)]="startTime" type="text" placeholder="hh:mm" spellcheck="false" pattern="[0-9]{2}[:][0-9]{2}">
    </div>
  </div>

  <div class="inputContainer">
    <span>Ende:</span>
    <div>
      <input id="endDate" [(ngModel)]="endDate" type="text" placeholder="dd.mm.yyyy" spellcheck="false" pattern="[0-9]{1,2}[.][0-9]{1,2}[.][0-9]{4}" required="required">
      <input id="endTime" [(ngModel)]="endTime" type="text" placeholder="hh:mm" spellcheck="false" pattern="[0-9]{2}[:][0-9]{2}">
    </div>
  </div>

</div>