:host {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: 'table buttons';
  column-gap: 2rem;
  padding: 2rem;
  position: relative;

  table {
    grid-area: table;
    border-collapse: collapse;

    tr {
      &:not(.header) {
        transition: background-color ease-out 0.1s;
        cursor: pointer;

        &.selected {
          background-color: var(--highlight) !important;
        }
        &:nth-child(even) {
          background-color: var(--inactive);
        }
      }

      th,
      td {
        padding: 0.5rem;
      }

      th {
        font-size: 2rem;
        color: var(--font-accent);
      }

      td {
        .name {
          font-size: 1.5rem;
        }

        & > * {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  aside {
    grid-area: buttons;
    position: sticky;
    top: 4rem;
    height: fit-content;
  }
}
