:host {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5%;

  .person {
    font-size: 2rem;
    padding: 0.5rem;
    background-color: var(--secondary);
    color: var(--font-secondary);
    margin: 1rem;
    border-radius: 1rem;
    border: none;

    input {
      outline: none;
      border: none;
      font-size: inherit;
      font-family: inherit;
      background-color: transparent;
      color: inherit;

      &.name {
        width: 10rem;
      }

      &.auth {
        width: 2rem;
      }
    }

    svg {
      height: 1.5rem;
      width: 1.5rem;
      margin: 0 0.5rem;
      transition: transform 0.2s ease-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  input {
    &::placeholder {
      color: var(--font-secondary);
      font-style: italic;
    }
  }
}
