:host {
  background-image: url("src/assets/icon.svg");
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-position: right;
  background-repeat: no-repeat;
  margin: 0 8px;

  .cardContainer > * {
    display: block;
    max-width: 400px;
    margin-top: 16px;
  }
}
