table {
  width: 100%;

  form {
    display: flex;
    align-items: center;

    @media screen and (max-width: 600px) {
      justify-content: center;

      .mat-form-field {
        width: 50px;
      }
    }
  }
}
