<mat-toolbar [color]="'accent'">Meine Events</mat-toolbar>

<mat-grid-list *ngIf="data$ | async as events" [cols]="cols" [rowHeight]="'175px'" [gutterSize]="'16px'">
  <mat-grid-tile *ngFor="let event of events">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <div class="hide-text" matBadge="{{ event.form.get('amount').value === '' ? 'a' : '' }}" matBadgeSize="small">
            {{ event.title }}
          </div>
          <a mat-icon-button [routerLink]="'/events/details/' + event.id">
            <mat-icon>description</mat-icon>
          </a>
        </mat-card-title>
        <mat-card-subtitle>
          <mat-icon>assignment_late</mat-icon>
          <div>{{ event.deadline | toLocalDateString }} - {{ event.deadline | toLocalTimeString }}</div>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="event.form" (ngSubmit)="onSubmit(event.id, event.form.get('amount').value, event.form)">
          <mat-form-field>
            <mat-label>Teilnehmerzahl</mat-label>
            <input #input matInput matTooltip="Mit 0 rückmelden = Absage" formControlName="amount" />
            <mat-error *ngIf="event.form.get('amount').invalid"> Bitte Rückmelden </mat-error>
          </mat-form-field>

          <button
            *ngIf="!event.form.disabled; else loading"
            mat-stroked-button
            type="submit"
            [color]="'primary'"
            [disabled]="event.form.get('amount').invalid || !event.form.dirty || event.form.disabled"
          >
            <mat-icon>save</mat-icon> SPEICHERN
          </button>
          <ng-template #loading>
            <mat-spinner [color]="'accent'" [diameter]="36"></mat-spinner>
          </ng-template>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
