<header>
  <h1 class="mat-display-2">Bild Editor</h1>

  <div class="submitButtons">
    <ng-container *ngIf="!(isLoading$ | async); else spinner">
      <button mat-raised-button [color]="'primary'" [disabled]="!canSave" (click)="onSubmit()">
        <mat-icon>save</mat-icon> SPEICHERN
      </button>
      <button mat-raised-button [color]="'warn'" [disabled]="!image?.id" (click)="onDelete()">
        <mat-icon>delete</mat-icon> LÖSCHEN
      </button>
    </ng-container>
    <ng-template #spinner>
      <mat-spinner [style.grid-area]="'save'" [color]="'accent'" [diameter]="36"></mat-spinner>
    </ng-template>
  </div>
</header>

<ng-container *ngIf="image && imageForm">
  <form [formGroup]="imageForm" (ngSubmit)="onSubmit()">
    <img [attr.src]="url" />
    <input hidden #imageInput type="file" (change)="onImageChange($event.target.files[0])" />
    <button mat-flat-button type="button" (click)="imageInput.click()" [color]="'primary'">
      <mat-icon>image</mat-icon> BILD AUSWÄHLEN
    </button>

    <mat-form-field>
      <mat-chip-list #chipList aria-label="tag Auswahl" formControlName="tags">
        <mat-chip *ngFor="let tag of imageForm.get('tags').value" (removed)="chips.removeItem(tag, imageForm.get('tags'))">
          {{ tag }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Tags"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="chips.addItem($event, imageForm.get('tags'))"
        />
      </mat-chip-list>
    </mat-form-field>
  </form>
</ng-container>
