:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

:host > header {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  .submitButtons {
    display: flex;
    flex-wrap: wrap;
    button {
      margin: 0.5rem;
    }
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .mat-form-field {
    width: 100%;
  }
}

img {
  margin-bottom: 8px;
  max-width: 100%;
}

.button-box {
  display: flex;
  width: 100%;
}
