<h1>Bild bearbeiten</h1>

<form class="card" #imageForm="ngForm" (ngSubmit)="onSubmit(imageForm.value)">
  <button type="button" routerLink="/images/overview" class="text close"><i class="material-icons">close</i>SCHLIESSEN</button>
  <app-file-input name="file" [style.grid-area]="'fileChooser'" [ngModel]="image.id" [required]="true"></app-file-input>
  <app-tag-input name="tags" [ngModel]="image.tags" [style.grid-area]="'tags'"></app-tag-input>
  <button type="submit" [disabled]="imageForm.invalid" class="contained" [style.grid-area]="'save'">
    <i class="material-icons">save</i>SPEICHERN
  </button>
  <button type="button" (click)="onDelete()" [disabled]="isNew" class="contained delete" [style.grid-area]="'delete'">
    <i class="material-icons">delete</i>LÖSCHEN
  </button>
</form>
