:host {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0.5rem;

  span {
    height: 1.5rem;
    padding: 0.5rem;
    border-radius: calc(1.5rem / 2);
    margin: 0 0.2rem 0.2rem 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--on-primary);
  }
}
