<div class="main-data">
  <input type="text" [(ngModel)]="selectedEvent.title" class="underlined title" placeholder="Titel" required="true" />
  <textarea [(ngModel)]="selectedEvent.description" rows="10" class="box" placeholder="Beschreibung"></textarea>
  <div class="person-selection">
    <div *ngFor="let group of groups | async" class="person" (click)="addGroup(group)">{{ group.name }}</div>
    <div
      *ngFor="let person of persons | async"
      class="person"
      [ngClass]="{ selected: isParticipant(person._id) }"
      (click)="togglePerson(person)"
    >
      {{ person.name }}
    </div>
  </div>
  <app-button value="speichern" (click)="saveEvent()"></app-button>
  <app-button value="löschen" (click)="deleteEvent()"></app-button>
</div>
<app-date-and-auth
  [(startDate)]="selectedEvent.startDate"
  [(endDate)]="selectedEvent.endDate"
  [(auth)]="selectedEvent.authorityLevel"
></app-date-and-auth>
