:host {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--primary);
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;

  .label {
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    background-color: var(--surface);
    color: var(--primary);
    padding: 0 0.2rem;
  }

  .tag,
  input {
    margin: 0 0.2rem 0.2rem 0.2rem;
    height: 1.5rem;
  }

  .tag {
    display: flex;
    align-items: center;
    width: min-content;
    white-space: nowrap;
    background-color: var(--primary);
    color: var(--on-primary);
    padding: 0 0.5rem;
    border-radius: calc(1.5rem / 2);

    i {
      font-size: 1rem;
      margin-left: 0.3rem;
      cursor: pointer;
    }
  }

  input {
    border: none;
    padding: 0;
    border-bottom: 1px solid var(--primary);
  }
}
