:host {
  display: block;
  margin-bottom: 6rem;

  form {
    position: relative;
    display: grid;
    grid-template-rows: 1rem 4rem auto 2rem repeat(2, 4rem) 2rem 3rem 4rem 4rem;
    grid-template-columns: 1fr 1fr;
    margin: var(--content-spacing);
    padding: 2rem;
    row-gap: 0.5rem;
    column-gap: 1rem;
    grid-template-areas:
      ". ."
      "title title"
      "description description"
      "s-label e-label"
      "s-date e-date"
      "s-time e-time"
      "a-label a-label"
      "a-el a-el"
      "participants participants"
      "save delete";

    span {
      font-weight: bold;
      color: var(--primary);
    }

    .close {
      position: absolute;
      right: 0;
    }

    .save {
      grid-area: save;
      justify-self: start;
      align-self: end;
    }

    .delete {
      grid-area: delete;
      justify-self: end;
      align-self: end;
    }
  }
}
