:host {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: min-content min-content auto;
  grid-template-columns: auto min-content;
  grid-template-areas: "header header" ". close" "form form";

  h1 {
    grid-area: header;
  }

  form {
    margin: 0.5rem;
    @media only screen and (min-width: 1000px) {
      margin: 5rem;
    }
    background-color: var(--surface);
    box-shadow: 0 0px 5px 0px var(--on-background);
    height: fit-content;
    padding: 2rem;
    border-radius: 0.5rem;

    grid-area: form;
    display: grid;
    grid-template-rows: repeat(2, 4rem) 2rem repeat(2, 4rem) 2rem 3rem 4rem 4rem;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5rem;
    column-gap: 1rem;
    grid-template-areas:
      "title title"
      "description description"
      "s-label e-label"
      "s-date e-date"
      "s-time e-time"
      "a-label a-label"
      "a-el a-el"
      "participants participants"
      "save delete";

    span {
      font-weight: bold;
      color: var(--primary);
    }

    .save {
      justify-self: start;
      align-self: end;
    }

    .delete {
      justify-self: end;
      align-self: end;
    }
  }

  button.close {
    grid-area: close;
  }
}
