<button mat-icon-button [color]="'accent'" class="help" (click)="isHelpVisible = !isHelpVisible">
  <mat-icon>{{ isHelpVisible ? 'cancel' : 'help' }}</mat-icon>
</button>
<form *ngIf="!isHelpVisible; else help" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="chips.addSelected($event, searchForm.get('searchStrings'), chipInput)"
    >
      <mat-option
        *ngFor="let option of autocomplete.$existingTags | async | autocompleteFilter: chipInput.value"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let item of searchForm.get('searchStrings').value"
        (removed)="chips.removeItem(item, searchForm.get('searchStrings'))"
      >
        {{ item }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        #chipInput
        placeholder="Suchbegriffe"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="chips.addItem($event, searchForm.get('searchStrings'), auto)"
        [matAutocomplete]="auto"
      />
    </mat-chip-list>
  </mat-form-field>
  <button mat-icon-button aria-label="search">
    <mat-icon>search</mat-icon>
  </button>
</form>
<ng-template #help>
  <ul>
    <li>Suchbegriffe müssen mit "Enter" bestätigt werden</li>
    <li>Clicks auf Elemente in der Liste fügen neue Suchbegriffe hinzu</li>
    <li>Suche wird durch Click auf die Lupe gestartet</li>
    <li>Clicks auf Tags in Kacheln fügt diese zu den Suchbegriffen hinzu</li>
  </ul>
</ng-template>
