@import '~@angular/material/theming';
@include mat-core();
$background: mat-palette($mat-grey);

:host {
  background-color: mat-color($background, 800);
  position: relative;
  border-radius: 4px;
  padding: 16px;
  box-sizing: border-box;
}
button.help {
  position: absolute;
  top: 0;
  right: 0;
}

form {
  display: flex;
  align-items: center;
}

.mat-form-field {
  flex: 1;
}
