<ng-container *ngIf="data">

  <div class="head">
    <svg [routerLink]="['/appointments']">
      <use href="assets/svg/exit.svg#exit" /></svg>
    <span> {{data.title}} </span>
    <svg (click)="save()">
      <use href="assets/svg/save.svg#save" /></svg>
  </div>

  <div class="responseTable">
    <span class="row" *ngFor="let person of data.participants">
      <div> {{person.name}} </div>
      <input type="text" [(ngModel)]="person.response" [disabled]="person.name != auth.loggedInAs">
    </span>
  </div>

  <div class="description" [innerHTML]="data.description | markdown"></div>

</ng-container>