@import "src/app/shared/scss-partials/colors.scss";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .searchBar {
    display: flex;
    margin: 3% 0;
    align-self: center;
    width: 50%;
    height: 70px;
    border: solid $font 4px;
    border-radius: 40px;
    padding: 5px 25px;
    transition: border-color ease-in-out .4s, background-color ease-in-out .4s;
    z-index: 1;

    >input {
      color: $font;
      border: none;
      outline: none;
      flex: 1;
      margin-right: 10px;
      font-size: 30px;
      background-color: transparent;
      font-weight: bolder;
      min-width: 0;
    }

    >svg {
      height: 50px;
      width: 50px;
    }

    &:focus-within {
      border-color: $background;
      background-color: $background;
    }
  }

  >.cards {
    display: flex;
    flex: 1;
    padding: 1% 10%;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;

    >info-card {
      width: 45%;
      height: 45%;
    }
  }

  @media screen and (max-width: 950px) {
    .searchBar {
      width: 80% !important;
    }

    info-card {
      width: 100% !important;
    }
  }
}
