:host {
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
  display: block;
  position: relative;
  width: 10rem;

  .status {
    padding: 0.5rem;
    color: var(--background);
    border-radius: 0.5rem;
    background-color: var(--secondary);
    font-weight: bold;
  }

  .options {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: var(--background);
    color: var(--secondary);
    font-weight: bold;
    transform: translateY(-25%) scale(0.75);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    padding: 0.5rem;
    border: 1px solid var(--secondary);
    border-radius: 0.5rem;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out, visibility 0s linear 0.2s;
    z-index: 1;

    &.active {
      transform: translateY(0) scale(1);
      opacity: 1;
      visibility: visible;
      transition: transform 0.2s ease-out, opacity 0.2s ease-out, visibility 0s linear 0s;
    }
  }
}
