<ng-container *ngIf="personMode; then person; else level"></ng-container>

<ng-template #person>
  <div class="status" (click)="isVisible = !isVisible">
    {{ PersonStrings[auth - 1] }}
  </div>
  <div class="options" [class.active]="isVisible">
    <div class="option" *ngFor="let astr of PersonStrings; let i = index" (click)="emit(i + 1)">
      {{ astr }}
    </div>
  </div>
</ng-template>

<ng-template #level>
  <div class="status" (click)="isVisible = !isVisible">
    {{ AuthStrings[auth - 1] }}
  </div>
  <div class="options" [class.active]="isVisible">
    <div class="option" *ngFor="let astr of AuthStrings; let i = index" (click)="emit(i + 1)">
      {{ astr }}
    </div>
  </div>
</ng-template>
