@import '../../shared/style-partials/variables.scss';

$icon-size: 38px;

main {
  display: grid;
  grid-template-columns: 32px auto max-content;
  grid-template-areas:
    'startpage-num startpage-content general'
    'events-num events-content .'
    'articles-num articles-content .'
    'images-num images-content .'
    'calendar-num calendar-content .'
    'groups-num groups-content .'
    'account-num account-content .'
    'search-num search-content .';
  column-gap: 2rem;

  @media screen and (max-width: 600px) {
    margin: 0 16px;
    grid-template-columns: 32px auto;
    grid-template-areas:
      'general general'
      'startpage-num startpage-content'
      'events-num events-content'
      'articles-num articles-content'
      'images-num images-content'
      'calendar-num calendar-content'
      'groups-num groups-content'
      'account-num account-content'
      'search-num search-content';
  }
}

aside {
  background-color: rgba(#000000, 0.1);
  padding: 16px;
  border-radius: 8px;
  max-width: 500px;
  grid-area: general;

  @media screen and (max-width: 600px) {
    margin-bottom: 16px;
  }
}

div.num {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    background-color: $primary;
  }

  .line {
    width: 3px;

    &.short {
      height: 16px;
    }
    &.long {
      flex: 1;
    }
  }
  .text {
    width: $icon-size;
    height: $icon-size;
    line-height: $icon-size;
    text-align: center;
    vertical-align: middle;
    color: white;
    border-radius: $icon-size / 2;
    font-size: $icon-size * 0.7;
  }
}

section {
  & > .mat-icon,
  .section-heading,
  & {
    margin-bottom: 1rem;
  }

  .section-heading {
    display: flex;
    align-items: center;
  }

  & > .mat-icon {
    width: $icon-size;
    height: $icon-size;
    font-size: $icon-size;
  }
}

a:not(.mat-icon-button) {
  color: $primary;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
