<form
  *ngFor="let event of $events"
  #amountForm="ngForm"
  (ngSubmit)="respondToEvent(event.id, amountForm.value); amountForm.reset()"
  class="card"
>
  <h3>{{ event.title }}</h3>
  <h4>
    <time [dateTime]="event.startDate">{{ event.startDate | toLocalDateString }}</time
    >-<time [dateTime]="event.endDate">{{ event.endDate | toLocalDateString }}</time>
  </h4>
  <app-input
    name="amount"
    label="Teilnehmerzahl"
    [required]="true"
    pattern="^[0-9]+$"
    [ngModel]="getAmountFromEvent(event)"
  ></app-input>
  <button class="text" type="submit">Speichern</button>
</form>
