<p [style.grid-area]="'t1'">
  Wir, als Sechtafeger bekannt sind eine Gruppe der RöSeNa. Gesehen hat man uns schon sehr oft. Doch wie kam es dazu: Aus einer
  Idee mehrerer ehemaliger Gardetänzerinnen, die gemeinsam weiterhin beim Röhlinger Fasching bleiben wollten, entstand 1996 diese
  Gruppe. 2004 wurde sie dann offizieller Bestandteil der RöSeNa.
</p>
<p [style.grid-area]="'t2'">
  Jedes Jahr wieder aufs Neue eine Augenweide präsentieren wir ein neues Kostüm, meist selber genäht und mit viel Liebe, Witz und
  Charme ausgeschmückt. Darunter zu sehen waren schon Pippi, Hippie, Indianer, Sarotti, Kosaken, Space, Burgfräulein & Ritter, den
  Modezar Karl Lagerfeld, Südstaaten, Struwwelpeter, Spanien und im letzten Jahr Jim Knopf und Lukas der Lokomotivführer.
</p>
<p [style.grid-area]="'t3'">
  Am Gumpendonnerstag lassen wir uns immer ein spontanes Kostüm einfallen. Egal ob wir als Rosale, Putztruppe, Zigeuner oder als
  Miss Fasching unterwegs sind - wir machen Röhlingen und die Umgebung unsicher! Im Laufe der Jahre gehören mittlerweile 33
  Erwachsene mit ihren Kindern der Gruppe an. Außerhalb der Fastnachtszeit gibt es immer wieder gemeinsame Aktivitäten, wie der
  monatliche Sechtafeger-Stammtisch, Geburtstage, Wanderungen, Weihnachtsfeier und einen 1-2-tägigen Ausflug.
</p>

<app-image-card [style.grid-area]="'orden'" *ngIf="$orden | async as ordenImg" [image]="ordenImg"></app-image-card>

<div class="themeTable">
  <ng-container *ngFor="let theme of themes">
    <h4>{{ theme.year }}</h4>
    <h3>{{ theme.name }}</h3>
    <button class="text icon" [routerLink]="'/images/overview/sechtafeger ' + theme.searchString">
      <i class="material-icons">photo</i>
    </button>
  </ng-container>
</div>
