:host {
  display: grid;
  grid-template-columns: minmax(0, 70%) minmax(8rem, 30%);
  column-gap: 1rem;
  grid-template-rows: auto auto auto auto;

  grid-template-areas: "t1 orden" "t2 t2" "t3 t3" "themes themes";
  @media only screen and (min-width: 500px) {
    grid-template-areas: "t1 orden" "t2 orden" "t3 t3" "themes themes";
  }
  @media only screen and (min-width: 900px) {
    grid-template-areas: "t1 orden" "t2 orden" "t3 orden" "themes .";
  }

  margin: var(--content-spacing);

  .themeTable {
    grid-area: themes;

    display: grid;
    grid-template-columns: 5rem auto 5rem;
    column-gap: 0.5rem;
    grid-auto-rows: auto;

    button {
      height: min-content;
    }

    h4,
    button,
    h3 {
      align-self: center;
      margin: 0;
    }
  }
}
