@import '~@angular/material/theming';

:host {
  display: block;
  padding: 16px;
}

:host > header {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .submitButtons {
    display: flex;
    flex-wrap: wrap;
    button {
      margin: 0.5rem;
    }
  }
}

.mat-stepper-horizontal {
  background-color: mat-color(mat-palette($mat-grey, 50));
}

.contentStep,
.dateStep,
.participantStep {
  display: flex;
  flex-direction: column;

  & > .mat-form-field:not(.mat-form-field-type-mat-chip-list) {
    max-width: 350px;
  }
}

.contentStep {
  .description,
  app-markdown-preview {
    margin-top: 0.5rem;
  }
  .description {
    width: 100%;
  }

  app-markdown-preview {
    min-height: 10vh;
    max-height: 50vh;
  }
}
