<!-- <header> -->
<h1 class="mat-display-2">Event Editor</h1>
<!-- </header> -->
<mat-vertical-stepper *ngIf="contentFormGroup && dateFormGroup && participantsFormGroup">
  <mat-step [stepControl]="contentFormGroup" errorMessage="Inhalt unvollständig">
    <form class="contentStep" [formGroup]="contentFormGroup">
      <ng-template matStepLabel>Inhalt des Events</ng-template>
      <mat-form-field>
        <mat-label>Titel</mat-label>
        <input matInput formControlName="title" required />
        <mat-error *ngIf="contentFormGroup.controls.title.invalid">
          {{ contentFormGroup.controls.title | errorMessage }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-chip-list #tagList aria-label="tag Auswahl" formControlName="tags">
          <mat-chip
            *ngFor="let tag of contentFormGroup.get('tags').value"
            (removed)="chips.removeItem(tag, contentFormGroup.get('tags'))"
          >
            {{ tag }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Tags"
            [matChipInputFor]="tagList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="chips.addItem($event, contentFormGroup.get('tags'))"
          />
        </mat-chip-list>
      </mat-form-field>
      <mat-tab-group>
        <mat-tab label="Bearbeiten">
          <mat-form-field class="description">
            <mat-label>Beschreibung</mat-label>
            <textarea
              matInput
              [mat-autosize]="true"
              [matAutosizeMinRows]="4"
              [matAutosizeMaxRows]="10"
              formControlName="description"
            ></textarea>
          </mat-form-field>
        </mat-tab>
        <mat-tab label="Vorschau">
          <app-markdown-preview [markdownText]="contentFormGroup.get('description').value"></app-markdown-preview>
        </mat-tab>
      </mat-tab-group>
      <div class="buttonBox">
        <button mat-button matStepperNext>Weiter</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="dateFormGroup" errorMessage="Datum fehlerhaft">
    <form class="dateStep" [formGroup]="dateFormGroup">
      <ng-template matStepLabel>Datum des Events</ng-template>
      <mat-form-field class="date-time">
        <mat-label>Datum</mat-label>
        <input matInput placeholder="DD.MM.YYYY" [matDatepicker]="picker1" formControlName="date" />
        <mat-error *ngIf="dateFormGroup.controls.date.invalid"> {{ dateFormGroup.controls.date | errorMessage }} </mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="date-time">
        <mat-label>Zeit</mat-label>
        <input matInput placeholder="HH:MM" formControlName="time" />
        <mat-error *ngIf="dateFormGroup.controls.time.invalid"> {{ dateFormGroup.controls.time | errorMessage }} </mat-error>
      </mat-form-field>
      <div class="buttonBox">
        <button mat-button matStepperPrevious>Zurück</button>
        <button mat-button matStepperNext>Weiter</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="participantsFormGroup" errorMessage="Teilnehmer/Deadline fehlerhaft">
    <form class="participantStep" [formGroup]="participantsFormGroup">
      <ng-template matStepLabel>Teilnehmer des Events</ng-template>
      <mat-form-field class="date-time">
        <mat-label>Deadline-Datum</mat-label>
        <input placeholder="DD.MM.YYYY" matInput [matDatepicker]="picker3" formControlName="deadlineDate" />
        <mat-error *ngIf="this.participantsFormGroup.get('deadlineDate').invalid">
          {{ this.participantsFormGroup.get('deadlineDate') | errorMessage }}
        </mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="date-time">
        <mat-label>Deadline-Zeit</mat-label>
        <input matInput placeholder="HH:MM" formControlName="deadlineTime" />
        <mat-error *ngIf="this.participantsFormGroup.get('deadlineTime').invalid">
          {{ this.participantsFormGroup.get('deadlineTime') | errorMessage }}
        </mat-error>
      </mat-form-field>

      <mat-chip-list>
        <mat-chip
          *ngFor="let group of groups"
          [color]="'accent'"
          [selected]="true"
          (click)="onAddGroup(group)"
          (removed)="onRemoveGroup(group)"
        >
          {{ group }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>

      <mat-form-field>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addPerson($event.option.value)">
          <mat-option
            *ngFor="
              let person of persons
                | participantAutocompleteFilter: participantInput.value:participantsFormGroup.get('participants').value
            "
            [value]="person"
          >
            {{ person.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-chip-list #participantList>
          <mat-chip *ngFor="let item of participantsFormGroup.get('participants').value" (removed)="removePerson(item)">
            {{ item.name }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input #participantInput placeholder="Teilnehmer" [matChipInputFor]="participantList" [matAutocomplete]="auto" />
          <button
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="participantsFormGroup.get('participants').setValue([])"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-chip-list>
      </mat-form-field>
      <div class="buttonBox">
        <button mat-button matStepperPrevious>Zurück</button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>

<div class="submitButtons">
  <ng-container *ngIf="(isLoading$ | async) !== true; else spinner">
    <button mat-raised-button [color]="'primary'" [disabled]="!canSave" (click)="onSubmit()">
      <mat-icon>save</mat-icon> SPEICHERN
    </button>
    <button mat-raised-button [color]="'warn'" [disabled]="!event?.id" (click)="deleteEvent()">
      <mat-icon>delete</mat-icon> LÖSCHEN
    </button>
  </ng-container>
  <ng-template #spinner>
    <mat-spinner [style.grid-area]="'save'" [color]="'accent'" [diameter]="36"></mat-spinner>
  </ng-template>
</div>
