<h1>{{ title }}</h1>

<form #eventForm="ngForm" (ngSubmit)="saveEvent(eventForm.value)" class="card">
  <button type="button" routerLink="/events" class="close text"><i class="material-icons">close</i>SCHLIESSEN</button>
  <app-input
    name="title"
    label="Titel"
    [required]="true"
    pattern="^.{3,35}$"
    [ngModel]="initData.title"
    [style.grid-area]="'title'"
  ></app-input>
  <app-input
    name="description"
    label="Beschreibung"
    type="area"
    [ngModel]="initData.description"
    [style.grid-area]="'description'"
  ></app-input>

  <span [style.grid-area]="'s-label'">Beginn</span>
  <app-input
    name="startDate"
    label="Datum"
    [required]="true"
    pattern="^(0[1-9]|[12][0-9]|3[01])\.(0[1-9]|1[012])\.[0-9]{4}$"
    [ngModel]="initData.startDate"
    [style.grid-area]="'s-date'"
  ></app-input>
  <app-input
    name="startTime"
    label="Zeit"
    [required]="true"
    pattern="^([01][0-9]|2[0-3]):([0-5][0-9])$"
    [ngModel]="initData.startTime"
    [style.grid-area]="'s-time'"
  ></app-input>

  <span [style.grid-area]="'e-label'">Ende</span>
  <app-input
    name="endDate"
    label="Datum"
    [required]="true"
    pattern="^(0[1-9]|[12][0-9]|3[01])\.(0[1-9]|1[012])\.[0-9]{4}$"
    [ngModel]="initData.endDate"
    [style.grid-area]="'e-date'"
  ></app-input>
  <app-input
    name="endTime"
    label="Zeit"
    [required]="true"
    pattern="^([01][0-9]|2[0-3]):([0-5][0-9])$"
    [ngModel]="initData.endTime"
    [style.grid-area]="'e-time'"
  ></app-input>

  <span [style.grid-area]="'a-label'">Sichtbar für</span>
  <app-dropdown
    name="authLevel"
    [ngModel]="dropdownItems[initData.authLevel].value"
    [style.grid-area]="'a-el'"
    [items]="dropdownItems"
    label="Berechtigungsgruppe"
  ></app-dropdown>

  <app-person-manager name="participants" [ngModel]="initData.participants" [style.grid-area]="'participants'">
  </app-person-manager>

  <button type="submit" class="save contained" [disabled]="eventForm.invalid"><i class="material-icons">save</i>SPEICHERN</button>
  <button type="button" [disabled]="!route.snapshot.paramMap.get('id')" class="delete contained" (click)="deleteEvent()">
    <i class="material-icons">delete</i>LÖSCHEN
  </button>
</form>
