:host {
  margin: var(--content-spacing);
  display: grid;
  position: relative;
  grid-template-columns: minmax(8rem, 30%) minmax(0, 40%) minmax(8rem, 50%);
  row-gap: 1rem;
  column-gap: 1rem;

  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "t1 t1 img1" "t2 t2 t2" "img2 img2 img2" "t3 t3 t3" "t4 t4 t4";

  @media only screen and (min-width: 600px) {
    grid-template-rows: auto auto auto;
    grid-template-areas: "t1 t1 img1" "img2 t2 t2" "t3 t3 t4";
  }

  p,
  div {
    justify-self: center;
    align-self: center;
  }

  button {
    position: absolute;
    top: 0;
    left: 0;
  }
}
