:host {
  display: block;
  color: var(--on-surface);
  background-color: var(--surface);
  box-shadow: 0 2px 5px 0px var(--on-background);
  border-radius: 0.5rem;
  margin: 1rem;
  cursor: pointer;

  * {
    margin: 1rem;
  }

  h1,
  h2 {
    text-align: center;
  }

  h1 {
    border-bottom: 1px solid transparent;
    transition: border-color ease-out 0.2s;
  }

  &:hover,
  &:focus,
  &:active {
    > h1 {
      border-color: var(--primary);
    }
  }

  h2 {
    font-size: 1.1rem;
  }
}
