:host {
  display: block;
  color: var(--on-surface);
  background-color: var(--surface);
  box-shadow: 0 2px 5px 0px var(--on-background);
  border-radius: 0.5rem;
  margin: 1rem;
  position: relative;
  padding-bottom: 1.2rem;

  * {
    margin: 1rem;
  }

  h3,
  h4 {
    text-align: center;
  }

  h3 {
    border-bottom: 1px solid transparent;
    transition: border-color ease-out 0.2s;
  }

  h4 {
    font-size: 1.1rem;
  }

  i {
    position: absolute;
    margin: 0;
    cursor: pointer;
    transition: color ease-out 0.2s;

    &:focus,
    &:active,
    &:hover {
      color: var(--primary);
    }
  }

  i.edit {
    top: 0.2rem;
    right: 0.2rem;
  }

  i.details {
    bottom: 0.2rem;
    left: calc(50% - 0.5rem);
  }
}
