<mat-toolbar [color]="'accent'">Bild bearbeiten</mat-toolbar>
<form *ngIf="$image | async as image; else loading" [formGroup]="imageForm" (ngSubmit)="onSubmit()">
  <img [attr.src]="$url | async" />
  <input hidden #imageInput type="file" (change)="onImageChange($event.target.files[0])" />
  <button mat-flat-button type="button" (click)="imageInput.click()" [color]="'primary'">
    <mat-icon>image</mat-icon> BILD AUSWÄHLEN
  </button>

  <mat-form-field>
    <mat-chip-list #chipList aria-label="tag Auswahl" formControlName="tags">
      <mat-chip *ngFor="let tag of imageForm.get('tags').value" (removed)="removeTag(tag)">
        {{ tag }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Tags"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addTag($event)"
      />
    </mat-chip-list>
  </mat-form-field>
  <div class="button-box">
    <button mat-flat-button type="submit" [disabled]="imageForm.invalid || !imageForm.dirty" [color]="'primary'">
      <mat-icon>save</mat-icon>SPEICHERN
    </button>
    <div class="spacer"></div>
    <button mat-flat-button type="button" [disabled]="!image.id" [color]="'warn'" (click)="onDelete()">
      <mat-icon>delete</mat-icon>LÖSCHEN
    </button>
  </div>
</form>
<ng-template #loading>
  <mat-progress-spinner></mat-progress-spinner>
</ng-template>
