@import 'src/app/shared/scss-partials/colors';

$height: 30px; // height of the bar to select attendants

:host {
  width: 100%;
  height: 100%;
  padding: 3%;
  display: grid;
  grid-row-gap: $height / 3;
  grid-column-gap: 10px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: $height auto;
  grid-template-areas: "header header""left right";
  overflow-y: auto;

  .header {
    @import 'src/app/shared/scss-partials/input';
    grid-area: header;
    display: flex;
    height: $height;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $height / 3;

    >svg {
      width: $height;
      height: $height;
      color: $inactive;
      transition: color linear .2s;
      cursor: pointer;

      &:hover {
        color: $secondary;
      }
    }
  }

  #left {
    grid-area: left;
    display: flex;
    flex-direction: column;

    >div#addAttendants {
      display: flex;
      border: 1px solid transparent;
      padding: 5px;
      flex-wrap: wrap;
      position: relative;
      transition: border-color linear .2s;

      &:focus-within {
        border-color: $inactive;
      }

      >input:focus+#unassignedList,
      >#unassignedList:hover {
        visibility: visible;
      }

      >#unassignedList {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 2px;
        display: flex;
        flex-direction: column;
        border: solid $inactive 1px;
        background-color: $background;
        visibility: hidden;

        >.unassignedListItem {
          padding: 2px;
          color: $font;
          cursor: pointer;

          &:hover {
            color: $background;
            background-color: $main;
          }
        }
      }

      >.item {
        position: relative;
        background: $tertiary;
        color: $font;
        height: $height;
        padding: $height / 10;
        padding-right: $height;
        font-size: $height * 0.75;
        border-top-right-radius: $height / 2;
        border-bottom-right-radius: $height / 2;
        margin-right: $height / 4;
        margin: 2px;
        cursor: pointer;

        &::before,
        &::after {
          content: "";
          position: absolute;
          height: $height * 0.5;
          width: $height * 0.1;
          background-color: $background;
          right: $height / 2;
          top: $height / 4;
          transition: background-color linear .2s;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }

        &:hover::before,
        &:hover::after {
          background-color: $secondary;
        }
      }

      >input {
        border: none;
        outline: none;
        background: transparent;
        font-size: $height * 0.75;
        flex: 1;
        min-width: 100px;
      }
    }
  }

  #right {
    grid-area: right;
    @import 'src/app/shared/scss-partials/input';
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 1fr 1fr 3fr;
    grid-template-areas:
      "begin-label begin-input"
      "end-label end-input"
      "dead-label dead-input";

    input {
      width: 100%;
      margin-bottom: 5px;
    }

    >span {
      font-weight: bold;
      color: $font;
      margin: 5px 0;
    }
  }

  @media screen and (max-width: 950px) {
    display: block;
  }
}
