<div class="header">
  <svg [routerLink]="['/appointments']">
    <use href="assets/svg/exit.svg#exit" /></svg>
  <input id="EVTitle" type="text" [(ngModel)]="title" placeholder="Titel" spellcheck="false"
    pattern="[A-Za-zÄÖÜäöüß ]{1,30}" required="required">
  <svg (click)="save()">
    <use href="assets/svg/save.svg#save" /></svg>
</div>
<div id="left">
  <div id="addAttendants">
    <span (click)="removeParticipant(name)" *ngFor="let name of participants" class="item">{{name}}</span>
    <input [(ngModel)]="filter" id="unassignedListInput" type="text" pattern="[A-Za-zÄÖÜäöüß ]{1,30}">
    <div id="unassignedList">
      <span (click)="addParticipant(name)" class="unassignedListItem" *ngFor="let name of unassigned | filter: filter">
        {{name}} </span>
    </div>
  </div>
  <rsn-markdown-editor [(inp)]="description"></rsn-markdown-editor>
</div>
<div id="right">
  <span>Beginn:</span>
  <span>
    <input type="text" [(ngModel)]="startDate" placeholder="dd.mm.yyyy" pattern="[0-9]{1,2}[.][0-9]{1,2}[.][0-9]{4}"
      required="required">
    <input class="begin label" type="text" [(ngModel)]="startTime" placeholder="hh:mm" pattern="[0-9]{2}[:][0-9]{2}">
  </span>
  <span>Ende:</span>
  <span>
    <input type="text" [(ngModel)]="endDate" placeholder="dd.mm.yyyy" pattern="[0-9]{1,2}[.][0-9]{1,2}[.][0-9]{4}"
      required="required">
    <input type="text" [(ngModel)]="endTime" placeholder="hh:mm" pattern="[0-9]{2}[:][0-9]{2}">
  </span>
  <span>Deadline:</span>
  <span>
    <input type="text" [(ngModel)]="deadline" placeholder="dd.mm.yyyy" pattern="[0-9]{1,2}[.][0-9]{1,2}[.][0-9]{4}"
      required="required">
  </span>
</div>