@import '~@angular/material/theming';

:host {
  background-color: mat-color(mat-palette($mat-grey, 50));
  min-height: 100%;

  @media screen and (min-width: 601px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  mat-icon,
  ::ng-deep mat-icon > * {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.home {
  font-size: 20px;
}

.outletContainer {
  width: min(1400px, 100%);
  flex: 1;
}

.mat-drawer-container {
  height: calc(100% - 56px);
}
