<div
  class="card-expansion-wrapper"
  [@expandCollapse]="{
    value: isPopupVisible ? 'expanded' : 'collapsed',
    params: params
  }"
>
  <mat-card #cardInCalendar (click)="onCardClick()" [class.collapsed]="!isPopupVisible">
    <mat-card-header>
      <mat-card-title
        [matBadge]="events.length > 0 ? events.length : ''"
        matBadgeColor="primary"
        matBadgeSize="small"
        matBadgePosition="below"
        >{{ day }}</mat-card-title
      >
      <button *ngIf="isPopupVisible" mat-icon-button [color]="'accent'" (click)="onClose($event)">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content *ngIf="isPopupVisible">
      <mat-list role="list">
        <ng-container *ngIf="events.length > 0">
          <div mat-subheader>Events</div>
          <mat-list-item role="listitem" *ngFor="let event of events">
            <a mat-button [routerLink]="'/events/details/' + event.id">{{ event.title }}</a>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
