@import '~@angular/material/theming';
$background: mat-palette($mat-grey);

:host {
  width: 100%;
  height: 100%;

  ::ng-deep.mat-badge.hide-text .mat-badge-content {
    color: transparent;
  }

  &.inactive {
    opacity: 0.3;
    pointer-events: none;
  }

  .card-expansion-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mat-card {
    padding: 4px;
    margin: 2px;
    height: calc(100% - 12px);
    width: calc(100% - 12px);
    max-width: 800px;
    overflow-x: hidden;
    overflow-y: auto;

    .mat-card-header {
      position: sticky;
      top: 0;
      align-items: flex-end;
      justify-content: space-between;
      // background-color: mat-color($background, 800);
    }

    ::ng-deep.mat-card-header-text {
      margin: 0;
    }

    .mat-icon {
      align-self: flex-start;
    }

    &.collapsed {
      overflow-y: hidden;
      @media screen and (max-width: 600px) {
        .mat-card-title {
          font-size: 12px;
        }
        .mat-icon {
          font-size: 19px;
        }
      }

      .event {
        font-size: 10px;
      }
    }
  }
}

table {
  width: 100%;
}
