<div
  class="card-expansion-wrapper"
  [@expandCollapse]="{
    value: isPopupVisible ? 'expanded' : 'collapsed',
    params: params
  }"
>
  <mat-card #cardInCalendar (click)="onCardClick()" [class.collapsed]="!isPopupVisible">
    <mat-card-header>
      <mat-card-title>
        <span>{{ day }}</span>
      </mat-card-title>
      <button *ngIf="isPopupVisible; else mark" mat-icon-button [color]="'accent'" (click)="onClose($event)">
        <mat-icon>cancel</mat-icon>
      </button>
      <ng-template #mark>
        <mat-icon *ngIf="events.length > 0" [color]="'accent'">bookmark</mat-icon>
      </ng-template>
    </mat-card-header>
    <mat-card-content *ngIf="isPopupVisible">
      <table mat-table [dataSource]="eventTableData">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">
            <a
              mat-button
              class="hide-text"
              matBadge="{{ element.hasUnseenChanges ? 'a' : '' }}"
              matBadgeSize="small"
              [routerLink]="'/events/details/' + element.id"
            >
              {{ element.name }}</a
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">{{ element.status }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <!-- <mat-list role="list">
        <ng-container *ngIf="events.length > 0">
          <div mat-subheader>Events</div>
          <mat-list-item role="listitem" *ngFor="let event of events">
            <a mat-button [routerLink]="'/events/details/' + event.id">{{ event.title }}</a>
          </mat-list-item>
        </ng-container>
      </mat-list> -->
    </mat-card-content>
  </mat-card>
</div>
