<ng-container *ngIf="data$ | async as event; else loading">
  <app-page-header [title]="event.title" [date]="event.date" [owner]="event.ownerName"></app-page-header>
  <main>
    <app-markdown-viewer [markdownText]="event.description"></app-markdown-viewer>
    <mat-chip-list>
      <mat-chip *ngFor="let tag of event.tags" (click)="onTagClick(tag)"> {{ tag }} </mat-chip>
    </mat-chip-list>

    <div class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort matSortActive="amount" matSortDirection="desc">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let paricipant">{{ paricipant.name }}</td>
          <td mat-footer-cell *matFooterCellDef>gesamt:</td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Anzahl</th>
          <td mat-cell *matCellDef="let paricipant">{{ paricipant.amount >= 0 ? paricipant.amount : '' }}</td>
          <td mat-footer-cell *matFooterCellDef>{{ amountAccumulated$ | async }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [class.declined]="row.amount === 0"
          [class.pending]="row.amount === -1"
        ></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
      </table>
    </div>
  </main>

  <div class="fab-container">
    <a
      mat-fab
      matTooltip="Event bearbeiten"
      aria-label="Event bearbeiten"
      *ngIf="canEdit$ | async"
      [color]="'primary'"
      [routerLink]="'/events/edit/' + event.id"
      ><mat-icon>edit</mat-icon></a
    >
    <a
      mat-fab
      *ngIf="canReply$ | async"
      matTooltip="Für dieses Event zurückmelden"
      aria-label="Für dieses Event zurückmelden"
      [color]="'primary'"
      [routerLink]="'/auth/my-events'"
      ><mat-icon>reply</mat-icon></a
    >
  </div>
</ng-container>

<ng-template #loading>
  <div class="spinnerContainer">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>
</ng-template>
