@import '../../../shared/style-partials/variables.scss';

:host {
  main {
    @media screen and (max-width: 600px) {
      padding: 0 16px;
    }

    .table-container {
      margin: 16px 0;
      max-height: 60vh;
      overflow: auto;

      table {
        width: 100%;
        box-sizing: border-box;

        tr.declined {
          background-color: rgba($warn, 0.2);
        }

        tr.pending {
          background-color: rgba($accent, 0.2);
        }

        tr.mat-footer-row {
          font-weight: bold;
        }
      }
    }

    .mat-list-item {
      height: min-content;
      margin-bottom: 1em;
    }

    .mat-list {
      width: 100%;
    }

    .mat-chip-list {
      outline: none;
      width: 100%;
    }
  }
}

.spinnerContainer {
  display: flex;
  justify-content: center;
}

.fab-container {
  position: sticky;
  z-index: 100;
  bottom: 16px;
  display: flex;
  justify-content: flex-end;

  a {
    margin: 8px;
  }
}
