@import '../../../shared/style-partials/variables.scss';

:host {
  main {
    @media screen and (max-width: 600px) {
      padding: 0 16px;
    }

    .mat-list-item {
      height: min-content;
      margin-bottom: 1em;
    }

    .mat-list {
      width: 100%;
    }

    .mat-chip-list {
      outline: none;
      width: 100%;
    }
  }
}

.spinnerContainer {
  display: flex;
  justify-content: center;
}

.fab-container {
  position: sticky;
  z-index: 1;
  bottom: 16px;
  display: flex;
  justify-content: flex-end;

  a {
    margin: 8px;
  }
}
