<ng-container *ngIf="data$ | async as event; else loading">
  <app-page-header [title]="event.title" [date]="event.date" [owner]="event.ownerName"></app-page-header>
  <main>
    <app-markdown-viewer [markdownText]="event.description"></app-markdown-viewer>
    <mat-chip-list>
      <mat-chip *ngFor="let tag of event.tags" (click)="onTagClick(tag)"> {{ tag }} </mat-chip>
    </mat-chip-list>
    <mat-list *ngIf="event.participants.length > 0">
      <mat-divider></mat-divider>
      <div mat-subheader>
        Rückmeldungen: Deadline {{ event.deadline | toLocalDateString }} {{ event.deadline | toLocalTimeString }}
      </div>
      <mat-list-item>
        <div mat-line>Angenommen: {{ amountAccumulated$ | async }} Personen</div>
        <mat-chip-list mat-line>
          <ng-container *ngFor="let participant of event.participants">
            <mat-chip [color]="'primary'" selected *ngIf="participant.amount > 0">
              {{ participant.name + ' ' + participant.amount }}
            </mat-chip>
          </ng-container>
        </mat-chip-list>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>Abgelehnt:</div>
        <mat-chip-list mat-line>
          <ng-container *ngFor="let participant of event.participants">
            <mat-chip [color]="'warn'" selected *ngIf="participant.amount === 0">
              {{ participant.name }}
            </mat-chip>
          </ng-container>
        </mat-chip-list>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>Ausstehend: {{ pendingPercent$ | async }}% / {{ pendingAmount$ | async }} Personen</div>
        <mat-chip-list mat-line>
          <ng-container *ngFor="let participant of event.participants">
            <mat-chip *ngIf="participant.amount < 0">
              {{ participant.name }}
            </mat-chip>
          </ng-container>
        </mat-chip-list>
      </mat-list-item>
    </mat-list>
  </main>
  <div class="fab-container">
    <a mat-fab *ngIf="canEdit$ | async" [color]="'primary'" [routerLink]="'/events/edit/' + event.id"
      ><mat-icon>edit</mat-icon></a
    >
    <a mat-fab *ngIf="canReply$ | async" [color]="'primary'" [routerLink]="'/auth/my-events'"><mat-icon>reply</mat-icon></a>
  </div>
</ng-container>

<ng-template #loading>
  <div class="spinnerContainer">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>
</ng-template>
