<h1>{{ event.title }}</h1>

<div class="date">
  <h4>
    <time [dateTime]="event.startDate">{{ event.startDate | toLocalDateString }} {{ event.startDate | toLocalTimeString }}</time>
  </h4>
  <span> - </span>
  <h4>
    <time [dateTime]="event.endDate">{{ event.endDate | toLocalDateString }} {{ event.endDate | toLocalTimeString }}</time>
  </h4>
</div>

<div class="content card">
  <button
    class="text icon"
    *ngIf="auth.$user.getValue() && auth.$user.getValue().id === event.ownerId"
    [routerLink]="'/events/edit/' + event.id"
  >
    <i class="material-icons">edit</i>
  </button>
  <p>{{ event.description }}</p>
  <app-tags [style.grid-area]="'tags'" [tags]="event.tags"></app-tags>

  <ng-container *ngIf="event.participants.length > 0 && auth.$user | async">
    <h4 [style.grid-area]="'responded'">Rückgemeldet: {{ respondedPercent }}% / {{ respondedAmount }} Personen</h4>

    <h3 [style.grid-area]="'acc-l'">Angenommen: {{ amountAccumulated }} Personen</h3>
    <div [style.grid-area]="'acc-p'" class="participants">
      <ng-container *ngFor="let participant of event.participants | sortParticipants">
        <app-participant *ngIf="participant.amount > 0" [participant]="participant"></app-participant>
      </ng-container>
    </div>

    <h3 [style.grid-area]="'rej-l'">Abgelehnt:</h3>
    <div [style.grid-area]="'rej-p'" class="participants">
      <ng-container *ngFor="let participant of event.participants | sortParticipants">
        <app-participant *ngIf="participant.amount === 0" [participant]="participant"></app-participant>
      </ng-container>
    </div>

    <h3 [style.grid-area]="'pend-l'">Ausstehend:</h3>
    <div [style.grid-area]="'pend-p'" class="participants">
      <ng-container *ngFor="let participant of event.participants | sortParticipants">
        <app-participant *ngIf="participant.amount < 0" [participant]="participant"></app-participant>
      </ng-container>
    </div>
  </ng-container>
</div>
