<h1>{{ event.title }}</h1>

<div class="date">
  <h4>
    <time [dateTime]="event.startDate">{{ event.startDate | toLocalDateString }} {{ event.startDate | toLocalTimeString }}</time>
  </h4>
  <span> - </span>
  <h4>
    <time [dateTime]="event.endDate">{{ event.endDate | toLocalDateString }} {{ event.endDate | toLocalTimeString }}</time>
  </h4>
</div>

<div class="content card">
  <button
    class="text icon"
    *ngIf="auth.$user.getValue() && auth.$user.getValue().id === event.ownerId"
    [routerLink]="'/events/edit/' + event.id"
  >
    <i class="material-icons">edit</i>
  </button>
  <p>{{ event.description }}</p>
  <app-tags [style.grid-area]="'tags'" [tags]="event.tags"></app-tags>

  <ng-container *ngIf="event.participants.length > 0">
    <div class="participants" *ngIf="auth.$user | async">
      <app-participant
        *ngFor="let participant of event.participants | sortParticipants"
        [participant]="participant"
      ></app-participant>
    </div>
    <h4 class="responded">Rückgemeldet: {{ respondedPercent }}% / {{ respondedAmount }} Personen</h4>
    <h4 class="amount">Teilnehmer gesamt: {{ amountAccumulated }} Personen</h4>
  </ng-container>
</div>
