<h1>{{ event.title }}</h1>

<div class="date">
  <h4>
    <time [dateTime]="event.startDate">{{ event.startDate | toLocalDateString }} {{ event.startDate | toLocalTimeString }}</time>
  </h4>
  <span> - </span>
  <h4>
    <time [dateTime]="event.endDate">{{ event.endDate | toLocalDateString }} {{ event.endDate | toLocalTimeString }}</time>
  </h4>
</div>

<div class="content card">
  <button
    class="text icon"
    *ngIf="auth.$user.getValue() && (auth.$user.getValue().authLevel >= 4 || auth.$user.getValue().id === event.ownerId)"
    [routerLink]="'/events/edit/' + event.id"
  >
    <i class="material-icons">edit</i>
  </button>
  <p>{{ event.description }}</p>
  <div class="participants" *ngIf="auth.$user | async">
    <app-participant *ngFor="let participant of event.participants" [participant]="participant"></app-participant>
  </div>
</div>
