<app-page-header [title]="'Artikel'" [subtitle]="'Neues aus dem Verein'" [matIcon]="'article'"></app-page-header>

<ng-container *ngIf="data$ | async as articles; else loading">
  <mat-grid-list [cols]="cols" [rowHeight]="'300px'" [gutterSize]="'16px'" @cardFlyIn>
    <mat-grid-tile *ngFor="let article of articles">
      <app-article-card [data]="article"></app-article-card>
    </mat-grid-tile>
  </mat-grid-list>

  <a
    mat-fab
    color="primary"
    [routerLink]="'/articles/edit'"
    *ngIf="canCreate$ | async"
    aria-label="Neuen Artikel erstellen"
    matTooltip="Neuen Artikel erstellen"
    ><mat-icon>add</mat-icon></a
  >
  <app-paginator class="mat-elevation-z2" [pageIndex]="0" [pageSize]="limit" [length]="length$ | async"></app-paginator>
</ng-container>
<ng-template #loading>
  <div class="spinnerContainer">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>
</ng-template>
