:host {
  display: block;

  .mat-grid-list {
    margin: 0 16px;
  }

  .spinnerContainer {
    display: flex;
    justify-content: center;
  }

  a {
    position: sticky;
    z-index: 1;
    bottom: 16px;
    left: calc(50% - 28px);
    margin: 16px 0;
  }
}
