<mat-toolbar class="header" [color]="'accent'">
  <div>Artikel</div>
</mat-toolbar>

<mat-grid-list *ngIf="data$ | async as articles" [cols]="cols" [rowHeight]="'300px'" [gutterSize]="'16px'" @cardFlyIn>
  <mat-grid-tile *ngFor="let article of articles">
    <app-article-card [data]="article"></app-article-card>
  </mat-grid-tile>
</mat-grid-list>

<a mat-fab class="add-fab" color="primary" [routerLink]="'/articles/edit'" *ngIf="canEdit$ | async"><mat-icon>add</mat-icon></a>

<app-paginator [pageIndex]="0" [pageSize]="limit" [length]="length$ | async"></app-paginator>
