<ng-container *ngIf="auth.$user | async as user; else authForm">
  <h1>Hallo {{ user.name }}</h1>
  <button (click)="auth.logout()">Logout</button>
</ng-container>

<ng-template #authForm>
  <ng-container *ngIf="(route.pathFromRoot[2].url | async)[0].path === 'login'; else registerForm">
    <h1>Anmelden</h1>
    <form (ngSubmit)="auth.login(userInput.email, userInput.password)" #loginFormElement="ngForm">
      <input type="text" placeholder="E-Mail" name="email" [(ngModel)]="userInput.email" required />
      <input type="password" name="password" [(ngModel)]="userInput.password" required placeholder="Passwort" />
      <button type="submit" [disabled]="loginFormElement.form.invalid">Login</button>
      <div routerLink="/auth/register">Neues Konto erstellen?</div>
    </form>
  </ng-container>

  <ng-template #registerForm>
    <h1>Registrieren</h1>
    <form (ngSubmit)="auth.register(userInput.email, userInput.password, userInput.name)" #registerFormElement="ngForm">
      <input type="text" placeholder="Anzeigename" name="name" [(ngModel)]="userInput.name" required />
      <input type="text" placeholder="E-Mail" name="email" [(ngModel)]="userInput.email" required />
      <input type="password" name="password" [(ngModel)]="userInput.password" placeholder="Passwort" required />
      <button type="submit" [disabled]="registerFormElement.form.invalid">Registrieren</button>
      <div routerLink="/auth/login">Ich habe bereits ein Konto</div>
    </form>
  </ng-template>
</ng-template>
