<ng-container *ngIf="!(auth.user | async); then login; else logout"></ng-container>

<ng-template #login>
  <div class="loginBox">
    <h1>Anmeldung</h1>
    <input [(ngModel)]="username" type="text" placeholder="Benutzername" spellcheck="false" />
    <input [(ngModel)]="password" type="password" placeholder="Passwort" spellcheck="false" (keydown.enter)="tryLogin()" />
    <input type="button" value="Anmelden" class="rsn-button" (click)="tryLogin()" />
    <p>
      Sie haben kein Konto oder Ihr Passwort vergessen?
      <span routerLink="/help">hier klicken</span>
    </p>
  </div>
</ng-template>

<ng-template #logout>
  <h1>Hello, {{ (auth.user | async).name }}!</h1>
  <br />
  <input type="button" value="Abmelden" class="rsn-button" (click)="tryLogout()" />
</ng-template>
