<h3>{{ event.title }}</h3>
<h4>
  <time [dateTime]="event.startDate">{{ event.startDate | toLocalDateString }}</time
  >-<time [dateTime]="event.endDate">{{ event.endDate | toLocalDateString }}</time>
</h4>

<span class="spacer"></span>

<p>{{ event.description }}</p>

<div class="buttonWrapper">
  <button class="text" [routerLink]="'/events/details/' + event.id">MEHR</button>
  <div class="iconWrapper">
    <i class="material-icons" [routerLink]="'/calendar/' + event.startDate.toISOString()">event</i>
    <i
      class="material-icons"
      *ngIf="(auth.$user | async) && event.authLevel <= (auth.$user | async).authLevel"
      [routerLink]="'/events/edit/' + event.id"
      >edit</i
    >
  </div>
</div>
