<div class="external">
  <a href="http://www.daswildeheer.de">
    <span appHoverable hoverColor="font-secondary">Das Wilde Heer</span>
  </a>
  <a href="http://www.roehling-stones.de">
    <span appHoverable hoverColor="font-secondary">Röhling Stones</span>
  </a>
  <a href="http://www.brandjoggala.de">
    <span appHoverable hoverColor="font-secondary">Brandjoggala</span>
  </a>
</div>
<p class="address">
  Faschingsgesellschaft Röhlinger Sechtanarren e.V <br>
  Dagmar Gerold <br>
  An der Sechta 2 <br>
  73479 Ellwangen-Röhlingen <br>
  E-Mail: info@roesena.de <br>
  Internet: www.roesena.de
</p>
<div class="site">
  <span appHoverable hoverColor="font-secondary" routerLink="about">Impressum</span>
  <span appHoverable hoverColor="font-secondary" routerLink="references">Links</span>
  <span appHoverable hoverColor="font-secondary" routerLink="press">Presse</span>
  <span appHoverable hoverColor="font-secondary" routerLink="help">Hilfe</span>
</div>