:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .mat-toolbar {
    position: relative;

    .mat-progress-bar {
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
}

main {
  width: calc(100% - 16px);
  margin: 8px;
  max-width: 800px;

  .mat-toolbar {
    margin-bottom: 8px;
  }
}

.title-container {
  display: flex;
  align-items: center;

  .title {
    width: 200px;
    padding: 0 16px;
    text-align: center;
  }
}
