<mat-toolbar [color]="'accent'"
  ><div>Kalender</div>
  <div class="spacer"></div>
  <div class="change-month-buttons"></div>
</mat-toolbar>
<main *ngIf="currentDate$ | async as date" (swipeleft)="navigateToNextMonth()" (swiperight)="navigateToPreviousMonth()">
  <mat-toolbar>
    <div class="spacer"></div>
    <div class="title-container">
      <a mat-icon-button (click)="navigateToPreviousMonth()">
        <mat-icon>navigate_before</mat-icon>
      </a>
      <div class="title">{{ getTitle(date) }}</div>
      <a mat-icon-button (click)="navigateToNextMonth()">
        <mat-icon>navigate_next</mat-icon>
      </a>
    </div>
    <div class="spacer"></div>
  </mat-toolbar>
  <ng-container *ngIf="user$ | async as user">
    <mat-grid-list id="calendar" cols="7" rowHeight="4:3" gutterSize="8px" *ngIf="days$ | async as days">
      <mat-grid-tile *ngFor="let filler of getOffsetArray(date)"> </mat-grid-tile>
      <mat-grid-tile *ngFor="let day of days; let i = index">
        <app-day [user]="user" [day]="i + 1" [events]="day"></app-day>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-container>
</main>
