<mat-toolbar [color]="'accent'"
  ><div>Kalender</div>
  <div class="spacer"></div>
  <div class="change-month-buttons"></div>
  <mat-progress-bar *ngIf="loading" [color]="'accent'" [mode]="'indeterminate'"></mat-progress-bar>
</mat-toolbar>
<main *ngIf="$activeMonth | async as month">
  <mat-toolbar>
    <div class="spacer"></div>
    <div class="title-container">
      <a mat-icon-button [routerLink]="'/calendar/' + getPreviousMonth(month.date).toISOString()">
        <mat-icon>navigate_before</mat-icon>
      </a>
      <div class="title">{{ getTitle(month.date) }}</div>
      <a mat-icon-button [routerLink]="'/calendar/' + getNextMonth(month.date).toISOString()">
        <mat-icon>navigate_next</mat-icon>
      </a>
    </div>
    <div class="spacer"></div>
  </mat-toolbar>
  <mat-grid-list id="calendar" cols="7" rowHeight="4:3" gutterSize="8px">
    <mat-grid-tile *ngFor="let filler of getOffsetArray(month.date)"> </mat-grid-tile>
    <mat-grid-tile *ngFor="let day of month.days; let i = index">
      <app-day [day]="i + 1" [events]="day"></app-day>
    </mat-grid-tile>
  </mat-grid-list>
</main>
