<div class="images">
  <ng-container *ngFor="let image of images | async; let i = index">
    <ng-container *ngIf="image.isEditing === false;then static else edit"></ng-container>

    <ng-template #static>
      <app-image-card [image]="image" (delete)="onDelete($event)" (edit)="onEdit(i)"></app-image-card>
    </ng-template>

    <ng-template #edit>
      <app-edit-card [image]="image" (saved)="onSave($event)"></app-edit-card>
    </ng-template>
  </ng-container>

  <app-edit-card [image]="{ image: '', description: '', tags: [], _id: undefined }" (saved)="onSave($event)">
  </app-edit-card>
</div>