<ng-container *ngIf="auth.$user | async as user">
  <div>
    <span class="static">Anzeigename:</span><span class="dynamic">{{ user.name }}</span>
  </div>
  <div>
    <span class="static">Gruppen:</span><span class="dynamic">{{ user.groups.join(", ") }}</span>
  </div>
  <form #changeNameForm="ngForm" (ngSubmit)="updateOwnName(user.id, changeNameForm.value.newName)">
    <app-input name="newName" label="neuer Name" pattern="^[a-zA-ZäöüÄÖÜ -]+$" [required]="true" ngModel></app-input>
    <button type="submit" class="outlined" [disabled]="changeNameForm.invalid">NAME ÄNDERN</button>
  </form>
</ng-container>
