<app-image-card [style.grid-area]="'img1'" *ngIf="$images | async as images" [image]="images[0]"></app-image-card>
<p [style.grid-area]="'t1'">
  Am 19.02.2005 saßen wir in einer lustigen Runde zusammen und haben aus einer Bierlaune heraus beschlossen, eine
  Guggenmusikgruppe zu gründen! <br />
  Von den anfänglich 14 Leuten hatten lediglich zwei zuvor überhaupt schon einmal etwas mit Musik zu tun, der Rest war musikalisch
  noch völlig unbedarft! In den kommenden Wochen waren wir auf der Suche nach weiteren Interessierten, Instrumenten, Ausbildern,
  Proberäumen und alles, was man noch so dazu braucht. Auch einen passenden Namen zu finden, war nicht ganz so einfach! <br />
  Letztendlich haben wir uns nach dem Mehrheitsprinzip für den Namen „Röhling-Stones“ entschieden. <br />
  Die folgenden Monate verbrachten wir damit, uns zunächst einmal mit den Instrumenten vertraut zu machen und die ersten Grundtöne
  zu erlernen - an Lieder war zu diesem Zeitpunkt noch nicht zu denken! <br />
  Das änderte sich aber bald: Bereits ein Jahr später war die Gruppe auf 25 Mitgliedern angewachsen und schließlich soweit,
  mehrere kleine Stücke zum Besten zu geben. Spontan begleiteten wir 2006 das Aufstellen des Narrenbaumes der RöSeNa und
  beteiligten uns beim Dämmerumzug des SV Lippach. <br />
  Am 01.05.2007 sind wir schließlich der RöSeNa beigetreten. <br />
  Zielsetzung der Gruppe ist es, in der Saison 2007/2008 aktiv aufzutreten! <br />
  Hierzu werden wir bei verschiedenen Veranstaltungen aktiv mitwirken. Schwerpunkte sind dabei der LWK-Umzug 2008 (Veranstalter
  ist die RöSeNa) sowie die drei Prunksitzungen vor heimischer Kulisse! <br />
  Seit 2017 sind die Röhling Stones im neuen Häs unterwegs. Das Motto: Dia de los Muertos, abgewandelt als Guggenkostüm.
  Geschminkten Totengesichter, schrille bunten Kostüme und mexikanische Accessoires machen das schaurige Kostüm perfekt. <br />
  Mittlerweile zählt die Gruppe 36 aktive Mitglieder – von denen nach wie vor der ganz überwiegende Teil noch niemals zuvor ein
  Instrument gespielt hat und die dennoch großen Spaß an der Guggenmusik haben und Kameradschaft groß schreiben.
  Selbstverständlich sind wir jederzeit an Neuzugängen in verschiedenen Bereichen interessiert. Hierzu müssen auch keine
  Vorkenntnisse vorhanden sein, Ausbilder stehen bereit. Wenn jemand Interesse hat, einfach kurz melden!
</p>
