:host {
  margin: var(--content-spacing);
  display: grid;
  position: relative;
  grid-template-columns: minmax(0, 50%) minmax(8rem, 50%);
  row-gap: 1rem;
  column-gap: 1rem;

  grid-template-rows: auto auto;
  grid-template-areas: "t1 t1 t1" "img1 img1 img1";

  @media only screen and (min-width: 600px) {
    grid-template-rows: auto;
    grid-template-areas: "t1 t1 img1";
  }
}
