// color definitions

// $main: #1661ac;
$main: #0082c6;
$light-main: #a8cde0;
$secondary: rgb(255, 0, 0);
$light-secondary: #ff9e9e;
$tertiary: #ffa900;
$inactive: rgb(204, 204, 204);
$background: rgb(255, 255, 255);
$font: rgb(0, 0, 0);
