@import "colors";

input[type="text"] {
  background-color: rgba($background, .5);
  outline: none;
  border: none;
  border-bottom: 2px solid $inactive;
  transition: color linear .2s, border-color linear .2s;
  min-width: 50px;
  font-size: 20px;
}

input[type="text"]::placeholder {
  color: rgba($font, .5);
}

input[type="text"]:focus {
  border-color: $tertiary;
}

input[type="text"]:invalid {
  border-color: $secondary;
}
