<mat-toolbar [color]="'accent'">Artikel Bearbeiten</mat-toolbar>
<form *ngIf="$data | async as article; else loading" [formGroup]="articleForm" (ngSubmit)="onSubmit()">
  <mat-form-field [style.grid-area]="'title'">
    <mat-label>Titel</mat-label>
    <input matInput formControlName="title" />
    <mat-error *ngIf="articleForm.controls.title.invalid"> {{ getErrorMessage(articleForm.controls.title) }} </mat-error>
  </mat-form-field>

  <div
    class="preview markdown-generated"
    [style.grid-area]="'preview'"
    [innerHTML]="articleForm.get('content').value | markdown"
  ></div>

  <mat-form-field [style.grid-area]="'content'">
    <mat-label>Inhalt</mat-label>
    <textarea matInput [rows]="10" formControlName="content"></textarea>
  </mat-form-field>

  <mat-form-field [style.grid-area]="'tags'">
    <mat-chip-list #chipList aria-label="tag Auswahl" formControlName="tags">
      <mat-chip *ngFor="let tag of articleForm.get('tags').value" (removed)="removeTag(tag)">
        {{ tag }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Tags"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addTag($event)"
      />
    </mat-chip-list>
  </mat-form-field>

  <button
    mat-raised-button
    *ngIf="!articleForm.disabled; else saveSpinner"
    type="submit"
    [color]="'primary'"
    [style.grid-area]="'save'"
    [disabled]="articleForm.invalid || !articleForm.dirty"
  >
    <mat-icon>save</mat-icon> SPEICHERN
  </button>
  <ng-template #saveSpinner>
    <mat-spinner [style.grid-area]="'save'" [color]="'accent'" [diameter]="36"></mat-spinner>
  </ng-template>

  <button
    mat-raised-button
    type="button"
    [color]="'warn'"
    [style.grid-area]="'delete'"
    [disabled]="article.id === ''"
    (click)="deleteArticle()"
  >
    <mat-icon>delete</mat-icon> LÖSCHEN
  </button>
</form>

<ng-template #loading>
  <mat-progress-bar [color]="'accent'" [mode]="'indeterminate'"></mat-progress-bar>
</ng-template>
