<h1>Artikel bearbeiten</h1>

<form class="card" #articleForm="ngForm" (ngSubmit)="onSubmit(articleForm.value)">
  <button type="button" routerLink="/articles/overview" class="text close"><i class="material-icons">close</i>SCHLIESSEN</button>
  <app-input [style.grid-area]="'title'" name="title" label="Titel" [ngModel]="article.title" [required]="true"></app-input>
  <app-input
    [style.grid-area]="'content'"
    name="content"
    label="Inhalt"
    type="area"
    [ngModel]="article.content"
    [required]="true"
  ></app-input>
  <app-tag-input [style.grid-area]="'tags'" name="tags" [ngModel]="article.tags"></app-tag-input>
  <button type="submit" [disabled]="articleForm.invalid" class="contained" [style.grid-area]="'save'">
    <i class="material-icons">save</i>SPEICHERN
  </button>
  <button type="button" (click)="onDelete()" [disabled]="isNew" class="contained delete" [style.grid-area]="'delete'">
    <i class="material-icons">delete</i>LÖSCHEN
  </button>
</form>
