:host {
  display: block;
  margin-bottom: 6rem;

  form {
    padding: 1rem;
    margin: var(--content-spacing);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1rem 4rem min-content min-content 4rem;
    row-gap: 1rem;
    grid-template-areas: ". ." "title title" "content content" "tags tags" "save delete";

    & > * {
      align-self: center;
    }

    button.delete {
      justify-self: right;
    }

    button.close {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
