:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: grid;
  width: 100%;
  max-width: 800px;
  padding: 8px;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  grid-template-rows: auto auto auto auto auto;
  row-gap: 16px;
  grid-template-areas:
    ". close"
    "title title"
    "content content"
    "tags tags"
    "save delete";

  a {
    justify-self: right;
  }
}
