<nav [@barAnimation]="true">
  <div class="link-container" *ngFor="let navItem of navConfig">
    <div class="subgroup-title" [routerLink]="navItem.path" routerLinkActive="selected">
      <span appHoverable hoverColor="secondary">{{ navItem.title }}</span>
    </div>
    <div class="subgroup-list">
      <div
        class="subgroup-list-item"
        [routerLink]="[navItem.path, listItem._id]"
        routerLinkActive="selected"
        *ngFor="let listItem of navItem.list | async"
      >
        {{ listItem.value }}
      </div>
    </div>
  </div>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>
