:host {
  flex: 1;
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-areas: 'navigation content';

  nav {
    grid-area: navigation;
    box-shadow: 5px 0px 10px 2px var(--inactive);
    padding-block-start: 1rem;

    .link-container {
      .subgroup-title {
        cursor: pointer;
        padding: 0.7rem;
        font-size: 1.1rem;

        &.selected {
          background-color: var(--secondary);
          color: var(--font-secondary);
        }
      }

      .subgroup-title.selected + .subgroup-list {
        max-height: 20rem;
        opacity: 1;
        overflow: auto;
        transition: max-height ease-out 0.3s 0s, opacity ease-out 0.3s 0.3s;
      }
      .subgroup-list {
        transition: max-height ease-out 0.3s 0.3s, opacity ease-out 0.3s 0s;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        .search {
          padding: 0.1rem 1.5rem;
          position: relative;
          overflow: hidden;

          input {
            width: 100%;
            padding-right: 1.6em;
            border: none;
            border-bottom: 1px solid var(--secondary);
            outline: none;
          }

          svg {
            position: absolute;
            height: 1rem;
            width: 1rem;
            top: 0.2rem;
            right: 1.6rem;
          }
        }

        .subgroup-list-item {
          padding: 0.1rem 1.5rem;
          cursor: pointer;

          &.selected {
            background-color: var(--inactive);
          }
        }
      }
    }
  }

  .content {
    grid-area: content;
    padding: 10px;
  }
}
