<!-- <nav>
  <div [ngClass]="{'active': activeTab === 'persons'}">
    <span appHoverable hoverColor="font" routerLink="persons">Personen</span>
  </div>
  <div [ngClass]="{'active': activeTab === 'events'}">
    <span appHoverable hoverColor="font" routerLink="events">Events</span>
  </div>
  <div [ngClass]="{'active': activeTab === 'articles'}">
    <span appHoverable hoverColor="font" routerLink="articles">Artikel</span>
  </div>
  <div [ngClass]="{'active': activeTab === 'images'}">
    <span appHoverable hoverColor="font" routerLink="images">Bilder</span>
  </div>
</nav> -->
<div class="editors">
  <router-outlet></router-outlet>
</div>