<mat-toolbar class="header" [color]="'accent'">
  <div>Events</div>
  <div class="spacer"></div>
  <div>
    <mat-form-field class="search-field">
      <mat-label>Suchbegriff</mat-label>
      <input
        matInput
        matTooltip="Suchbegriffe durch Komma trennen"
        type="text"
        [(ngModel)]="searchString"
        (keydown.enter)="searchButton._elementRef.nativeElement.click()"
      />
      <button *ngIf="searchString" matSuffix mat-icon-button aria-label="clear" (click)="searchString = ''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button #searchButton mat-icon-button aria-label="search" (click)="onSearchClick()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-grid-list
  *ngIf="$data | async as events; else loading"
  class="content"
  [cols]="cols"
  [rowHeight]="'300px'"
  [gutterSize]="'16px'"
  @cardFlyIn
>
  <mat-grid-tile *ngFor="let event of events">
    <app-event-card [data]="event"></app-event-card>
  </mat-grid-tile>
</mat-grid-list>

<a mat-fab class="add-fab" [color]="'primary'" [routerLink]="'/events/edit'" *ngIf="canCreate()">
  <mat-icon>add</mat-icon>
</a>

<ng-template #loading>
  <mat-progress-bar [color]="'accent'" [mode]="'indeterminate'"></mat-progress-bar>
</ng-template>
