<div [ngClass]="{active: navBarState}" class="burger" (click)="navBarState = !navBarState">
  <span class="line1"></span>
  <span class="line2"></span>
  <span class="line3"></span>
</div>
<logo-roesena></logo-roesena>
<div class="nav-container">
  <span class="nav-item hoverable" *ngFor="let item of navbar;" [routerLink]="[item.route]">{{item.title}}</span>
</div>
<div class="symbols">
  <svg rsnAutosizeSvg [routerLink]="['appointments/calendar']">
    <use href="assets/svg/calendar-alt-regular.svg#calendar" /> </svg>
  <svg rsnAutosizeSvg>
    <use href="assets/svg/images-regular.svg#images" /> </svg>
  <svg rsnAutosizeSvg [routerLink]="['appointments']">
    <use href="assets/svg/tasks-solid.svg#tasks" /> </svg>
  <svg rsnAutosizeSvg>
    <use href="assets/svg/sign-in-alt-solid.svg#sign-in" /> </svg>
</div>
<div [ngClass]="{active: navBarState}" class="side-menu">
  <span *ngFor="let item of burger" [routerLink]="[item.route]"> {{item.title}} </span>
</div>
<div class="outlet">
  <router-outlet></router-outlet>
</div>
<div class="route">
  <span class="breadcrumb root" [routerLink]="['']"> Startseite </span>
  <span [@fade]="item.state" *ngFor="let item of ROUTE; let i = index;" [routerLink]="[item.currentRoute]"
    class="breadcrumb"> {{item.tag}} </span>
</div>
<div class="footer">
  <span class="footer-item hoverable" [routerLink]="['references']">Links</span>
  <span class="footer-item hoverable" [routerLink]="['media']">Presse</span>
  <span class="footer-item hoverable" [routerLink]="['about']">Impressum</span>
</div>