@import "src/app/shared/scss-partials/colors.scss";

:host {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 9% auto 33px;
  grid-template-areas: "logo nav symbols""body body body""footer footer about";
  background-image: url(/assets/svg/startpage-background.svg);
  background-size: 100% 100%;


  .burger,
  .side-menu {
    display: none;
  }

  logo-roesena {
    grid-area: logo;
  }

  .symbols {
    grid-area: symbols;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    svg {
      color: $main;
      transition: color ease-out .2s;
      cursor: pointer;

      &:hover {
        color: $secondary;
      }
    }
  }

  .nav-container {
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: $font;
    font-size: 20px;
  }

  .outlet {
    grid-area: body;
    min-height: 0;
  }

  .route {
    grid-area: footer;
    font-size: 20px;
    display: flex;

    .breadcrumb {
      opacity: .5;
      background-color: $background;
      margin: 5px 2px 5px 5px;
      color: $font;
      cursor: pointer;
      padding: 0 15px;
      user-select: none;
      outline: none;
      clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 50%, calc(100% - 10px) 100%, 0 100%, 10px 50%);
      transition: opacity ease-in-out .2s;

      &.root {
        clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 50%, calc(100% - 10px) 100%, 0 100%);
        padding-left: 10px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .footer {
    grid-area: about;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    >.footer-item {
      color: $font;
      margin: 0 10px;
      height: 20px;
    }
  }

  .hoverable {
    transition: all .2s ease-out;
    position: relative;
    cursor: pointer;
    outline: none;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      height: 2px;
      width: 0;
      background-color: $secondary;
      transition: all .2s ease-out;
    }

    &:hover {
      color: $secondary !important;

      &::after {
        width: 100%;
        left: 0;
      }
    }
  }

  .burger {
    grid-area: burger;
    align-self: center;
    display: none;
    height: 3vh;
    width: 3vh;
    position: relative;
    margin: 1vh;

    .line1,
    .line2,
    .line3 {
      width: 100%;
      height: 20%;
      background-color: $main;
      position: absolute;
      transition: all ease-in-out .2s;
    }

    .line1 {
      top: 0;
    }

    .line2 {
      top: 40%;
    }

    .line3 {
      bottom: 0;
    }

    &.active {
      .line1 {
        transform: rotate(45deg);
        top: 40%;
      }

      .line2 {
        opacity: 0;
      }

      .line3 {
        transform: rotate(-45deg);
        bottom: 40%;
      }
    }
  }

  .side-menu {
    background-color: $main;
    grid-area: body;
    flex-direction: column;
    transition: transform ease-in-out .2s;
    position: absolute;
    top: 9%;
    left: 0;
    z-index: 5;
    height: calc(91% - 33px);
    transform: translateX(-100%);

    &.active {
      transform: translate(0);
    }

    span {
      font-weight: bold;
      color: $background;
      padding: 1vh;
      cursor: pointer;
      transition: color linear .2s;
      font-size: 2vh;

      &:hover {
        color: $font;
      }
    }
  }

  @media screen and (max-width: 950px) {
    & {
      grid-template-areas: "burger symbols symbols""body body body""footer footer about";
    }

    .nav-container,
    .nav-item,
    .footer,
    logo-roesena {
      display: none;
    }

    .burger {
      display: block;
    }

    .side-menu {
      display: flex;
    }
  }
}
