:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .buttonWrapper {
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;

    .iconWrapper {
      display: flex;
    }
  }
}
