@import '../../style-partials/variables.scss';

:host {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  ::ng-deep.mat-badge.hide-text .mat-badge-content {
    color: transparent;
  }

  .mat-card {
    height: calc(100% - 36px);
    width: calc(100% - 36px);
    display: flex;
    flex-direction: column;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
  }

  .mat-card-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;

    .content-preview {
      flex: 1 1 auto;
      overflow: hidden;
      margin-bottom: 8px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: block;
        height: 40px;
        background-image: linear-gradient(to top, $cardBackground, transparent);
      }
    }
  }
}
