<mat-card>
  <mat-card-title>{{ data.title }}</mat-card-title>
  <mat-card-subtitle>
    <div>{{ data.startDate | toLocalDateString }} - {{ data.endDate | toLocalDateString }}</div>
    <div>{{ data.ownerName }}</div>
  </mat-card-subtitle>
  <mat-card-content>
    <div class="content-preview">
      {{ data.description }}
    </div>
    <mat-chip-list>
      <mat-chip *ngFor="let tag of data.tags" [routerLink]="'/events/overview/' + tag">{{ tag }}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button [routerLink]="'/events/details/' + data.id">MEHR</a>
    <a mat-icon-button [routerLink]="'/calendar/' + data.startDate.toISOString()"><mat-icon>event</mat-icon></a>
    <a mat-icon-button *ngIf="canEdit()" [routerLink]="'/events/edit/' + data.id"><mat-icon>edit</mat-icon></a>
  </mat-card-actions>
</mat-card>
