<mat-card>
  <mat-card-title>{{ event.title }}</mat-card-title>
  <mat-card-subtitle> {{ event.startDate | toLocalDateString }} - {{ event.endDate | toLocalDateString }} </mat-card-subtitle>
  <mat-card-content>
    {{ event.description.substring(0, 100) }}...
    <mat-chip-list>
      <mat-chip *ngFor="let tag of event.tags">{{ tag }}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button [routerLink]="'/events/details/' + event.id">MEHR</a>
    <a mat-icon-button [routerLink]="'/calendar/' + event.startDate.toISOString()"><mat-icon>event</mat-icon></a>
    <a mat-icon-button *ngIf="canEdit()" [routerLink]="'/events/edit/' + event.id"><mat-icon>edit</mat-icon></a>
  </mat-card-actions>
</mat-card>
