<h3>{{ event.title }}</h3>
<h4>
  <time [dateTime]="event.startDate">{{ event.startDate | toLocalDateString }}</time
  >-<time [dateTime]="event.endDate">{{ event.endDate | toLocalDateString }}</time>
</h4>

<span class="spacer"></span>

<p>{{ event.description }}</p>

<div class="buttonWrapper">
  <button class="text" [routerLink]="'/events/details/' + event.id">MEHR</button>
  <div class="iconWrapper">
    <button class="text icon" [routerLink]="'/calendar/' + event.startDate.toISOString()">
      <i class="material-icons">event</i>
    </button>
    <ng-container *ngIf="auth.$user | async as user">
      <button
        class="text icon"
        *ngIf="event.ownerId === user.id || user.authLevel >= 4"
        [routerLink]="'/events/edit/' + event.id"
      >
        <i class="material-icons">edit</i>
      </button>
    </ng-container>
  </div>
</div>
