<h1 [style.grid-area]="'title'">Röhlinger Sechtanarren</h1>
<h2 [style.grid-area]="'subtitle'">e.V. 1970</h2>

<!-- <div class="contentWrapper"> -->
<!-- <div class="upcomingEvent"> -->
<h3 [style.grid-area]="'ev-header'">Nächste Events</h3>
<ng-container *ngFor="let event of eventCards | async; let i = index">
  <app-event-card [event]="event" [style.grid-area]="'event-' + (i + 1)"></app-event-card>
</ng-container>
<h3 [style.grid-area]="'art-header'">Neueste Artikel</h3>
<ng-container *ngFor="let article of articleCards | async; let i = index">
  <app-article-card [article]="article" [style.grid-area]="'article-' + (i + 1)"></app-article-card>
</ng-container>
<!-- </div> -->
<!-- </div> -->
