:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .subtitle {
    display: flex;
    justify-content: center;
    background: var(--surface);
    box-shadow: 0 0px 5px 0px var(--on-background);
    padding: 0.5rem 0;
  }

  .contentWrapper {
    flex: 1;
    display: grid;
    grid-template-columns: 15% min-content auto;
    grid-template-rows: 30% min-content auto;
    grid-template-areas: ". . ." ". event ." ". . .";

    .upcomingEvent {
      grid-area: event;

      h3 {
        text-align: center;
      }
    }
  }
}
