:host {
  $width: 10%;
  $height: 10%;
  position: fixed;
  width: $width;
  height: $height;
  left: calc(50% - (#{$width} / 2));
  top: $height;

  background-color: var(--primary);
  border: solid 2px var(--font-secondary);
  color: var(--font);
  font-weight: bold;
  border-radius: .5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
