:host {
  display: block;
  position: relative;
  color: var(--on-surface);
  width: 10rem;

  .activeItem:focus + .itemContainer,
  .itemContainer:hover {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity ease-out 0.2s;
  }

  .activeItem {
    background-color: var(--surface);
    padding: 0.3rem;
    width: inherit;
    cursor: pointer;
    border-radius: 0.3rem;
    border: 1px solid var(--on-surface);
    color: var(--on-surface);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:focus {
      border-color: var(--primary);
      color: var(--primary);
    }

    .dropdownLabel {
      $font-size: 0.7rem;
      position: absolute;
      font-size: $font-size;
      left: 0.5rem;
      top: -#{$font-size / 2};
      background-color: var(--surface);
      transition: color ease-out 0.2s, border-color ease-out 0.2s;
    }

    i {
      transition: color ease-out 0.2s;
    }
  }

  .itemContainer {
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: inherit;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: var(--surface);
    box-shadow: 0 2px 5px 0px var(--on-background);
    transition: visibility 0s linear 0.2s, opacity ease-out 0.2s;

    .item {
      padding: 0.5rem;
      cursor: pointer;

      &:first-child {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }

      &:last-child {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: var(--on-surface-light);
      }
    }
  }
}
