@import "src/app/shared/scss-partials/colors.scss";

:host {
  display: flex;
  flex-direction: column;
  padding: 2px;
  align-items: center;
  font-size: 18px;
  width: max-content;
  // description text (input attribute)
  span {
    // position: absolute;
    // top: 0;
  }
  // the "hitbox" of the switch
  label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    // the input element that actually get's toggled
    // label passes click events natively to it's contents -> size of the input element can be set to 0 (and hidden that way)
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    // the background of the switch
    span {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $inactive;
      transition: .4s;
      box-shadow: 0 0 1px $main;
    }
    // the slider of the switch (the moving part)
    span:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: $background;
      -webkit-transition: .4s;
      transition: .4s;
    }
    // change apperance depending on state of the input
    input:checked + span {
      background-color: $main;
    }
    input:checked + span:before {
      transform: translateX(26px);
    }
  }
}