:host {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;

  img {
    position: absolute;
    pointer-events: none;
    height: 90vh;
    top: 5vh;
    transform: translateX(75%);
    opacity: 0.4;
    transition: opacity ease-out 0.2s;
    z-index: -1;

    &.opac {
      opacity: 1;
    }
  }

  main {
    width: 100%;
    min-height: 100%;
  }

  .loginStatus {
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;

    & > * {
      font-weight: bold;
    }

    span {
      padding: 1rem;
      display: block;
      background-color: var(--primary);
      color: var(--on-primary);
      border-radius: 2rem;
      height: 4rem;
      width: 4rem;
      line-height: 2rem;
      text-align: center;
    }
  }
}
