<app-nav-bar></app-nav-bar>
<img
  src="assets/wappen.svg"
  alt="RöSeNa-Wappen"
  routerLink="/"
  routerLinkActive="opac"
  [routerLinkActiveOptions]="{ exact: true }"
/>
<div class="loginStatus" routerLink="/auth">
  <i *ngIf="!(auth.$user | async); else logout" class="material-icons">input</i>
  <ng-template #logout>
    <span>{{
      auth.$user
        .getValue()
        .name.toUpperCase()
        .substring(0, 1)
    }}</span>
  </ng-template>
</div>
<main>
  <router-outlet></router-outlet>
</main>
