:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;

  app-snackbar {
    position: absolute;
    bottom: 1rem;
  }

  app-loading {
    width: 100%;
    height: 5px;
  }

  .eventWrapper {
    display: grid;
    width: 100%;
    padding: var(--content-spacing);
    grid-template-columns: var(--card-grid-columns);
    grid-auto-rows: min-content;
  }
}
