:host {
  display: flex;
  justify-content: center;
  background: var(--surface);
  box-shadow: 0 0px 5px 0px var(--on-background);
  overflow-x: auto;

  nav {
    padding: 0.5rem 2rem;
    border-bottom: 4px solid transparent;
    color: var(--on-surface);
    cursor: pointer;
    white-space: nowrap;
    transition: color ease-out 0.2s, border-bottom-color ease-out 0.2s;

    &.active {
      color: var(--primary);
      border-bottom-color: var(--primary);
    }
  }
}
