<h1 class="mat-display-2">Impressum</h1>

<mat-list>
  <div mat-subheader>Vorstand des Vereins</div>
  <mat-list-item>
    <mat-icon mat-list-icon>people</mat-icon>
    <div mat-line>Corina Weiß und Peter Higler</div>
  </mat-list-item>

  <div mat-subheader>Vereinsadresse / Geschäftsstelle</div>
  <mat-list-item>
    <mat-icon mat-list-icon>home</mat-icon>
    <div mat-line>Faschingsgesellschaft Röhlinger Sechtanarren e.V.</div>
    <div mat-line>Dagmar Gerold</div>
    <div mat-line>An der Sechta 2</div>
    <div mat-line>73479 Ellwangen-Röhlingen</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>email</mat-icon>
    <div mat-line>
      <a mat-button [color]="'primary'" href="mailto: info@roesena.de">info@roesena.de</a>
    </div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>label</mat-icon>
    <div mat-line><strong>BDK Nummer:</strong> 1887</div>
    <div mat-line><strong>LWK Nummer:</strong> 52</div>
  </mat-list-item>

  <div mat-subheader>Webdesign</div>
  <mat-list-item>
    <mat-icon mat-list-icon>person</mat-icon>
    <div mat-line>Johannes Gerold</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>code</mat-icon>
    <div mat-line>
      <a mat-button [color]="'primary'" href="https://github.com/jgero/roesena-app" target="_blank">GitHub repository</a>
    </div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>email</mat-icon>
    <div mat-line>
      <a mat-button [color]="'primary'" href="mailto: webmaster@roesena.de">webmaster@roesena.de</a>
    </div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>comment</mat-icon>
    <div mat-line>Lorem Ipsum</div>
  </mat-list-item>

  <div mat-subheader>Mitgliedschaft</div>
  <mat-list-item>
    <mat-icon mat-list-icon>person_add</mat-icon>
    <div mat-line>
      Wollen Sie Mitglied der Faschingsgesellschaft Röhlinger Sechtanarren e.V 1970 werden? <br />
      Einfach die Anmeldung ausfüllen und bei der Vorstandschaft abgeben!
    </div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>link</mat-icon>
    <div mat-line>
      <a mat-button *ngIf="$applicationURL | async as url" [color]="'primary'" href="{{ url }}" target="_blank"
        >ANMELDUNG ÖFFNEN</a
      >
    </div>
  </mat-list-item>

  <div mat-subheader>Legal Disclamer</div>
  <mat-list-item class="long-item">
    <mat-icon mat-list-icon>gavel</mat-icon>
    <div matLine>
      Die Fastnachtsgesellschaft Röhlinger Sechtanarren 1970 e.V. (RöSeNa) prüft und aktualisiert die Informationen auf dieser
      Webseiten regelmäßig. Trotz aller Sorgfalt können sich die Daten zwischenzeitlich verändert haben. Eine Haftung oder
      Garantie für die Aktualität, Richtigkeit und Vollständigkeit der Informationen kann daher nicht übernommen werden. <br />
      <br />
      Diese Website enthält Verweise auf Websites, die von Dritten eingerichtet wurden. Die RöSeNa hat keinerlei Kontrolle über
      die Websites und die dort angebotenen Informationen, Waren oder Dienstleistungen. Die RöSeNa übernimmt daher keinerlei
      Verantwortung, aus welchem Rechtsgrund auch immer, für den Inhalt der Websites Dritter. <br />
      <br />
      Die RöSeNa behält sich das Recht vor, die auf dieser Website angebotenen Informationen ohne gesonderte Ankündigung jederzeit
      zu verändern oder zu aktualisieren. <br />
      <br />
      Für gegebenenfalls bestehende oder künftig entstehende Rechtsverhältnisse ist ausschließlich deutsches Recht anwendbar und
      sind nur deutsche Gerichte zuständig.
    </div>
  </mat-list-item>

  <div mat-subheader>Datenschutz</div>
  <mat-list-item class="long-item">
    <mat-icon mat-list-icon>security</mat-icon>
    <div mat-line>
      Diese Zusammenstellung enthält ergänzende Bestimmungen und Regeln für den Verein “Röhlinger Sechta Narren e.V. ”. Diese
      wurden in der Mitgliederversammlung vorgelesen und somit von allen zur Kenntnis genommen. Die vollständige Satzung ist bei
      den Vorständen einsehbar. <br />
      <br />
      Verantwortlich für den Datenschutz ist Vorstand des Vereins. <br />
      <br />
      Haben Sie Fragen zum Datenschutz? Dann wenden Sie sich bitte über die Mailadresse datenschutz@reoesen.de direkt an uns.
      <br />
      <br />
    </div>
    <div mat-line>
      <strong>Ergänzend zur Satzung § 3 Mitgliedschaft</strong> <br />
      <br />
      (a) Unter Beachtung der gesetzlichen Vorgaben und Bestimmungen der EU-Datenschutz- Grundverordnung (DSGVO) und des
      Bundesdatenschutzgesetzes (BDSG) werden zur Erfüllung der Zwecke und Aufgaben des Vereins personenbezogene Daten über
      persönliche und sachliche Verhältnisse der Mitglieder des Vereins erhoben und in geschützten EDVSystemen gespeichert,
      genutzt und verarbeitet. <br />
      (b) Mit dem Betritt eines Mitgliedes nimmt der Verein alle für die Mitgliedschaft im Verein relevanten Daten (Name,
      Anschrift, Bankverbindung, Name des Kindes, Tätigkeiten im Verein, Ehrungen im Verein,) auf. Jedem Vereinsmitglied wird eine
      Mitgliedsnummer zugeordnet. Diese genannten Daten werden in geschützten EDV-Systemen des Vereins gespeichert. Die
      personenbezogenen Daten werden dabei durch geeignete technische und organisatorische Maßnahmen vor der Kenntnisnahme Dritter
      geschützt. <br />
      (d) Bei Beendigung der Mitgliedschaft werden Name, Adresse, Telefonnummern, E-Mail-Adresse und Namens des Kindes des
      Mitglieds aus der Mitgliederliste für den Bankeinzug gelöscht, bleiben jedoch bis auf Wiederruf für die Vereinschronik in
      der Vereinsdatenbank gespeichert <br />
      (e) Personenbezogene Daten, die die Kassenverwaltung betreffen, werden gemäß den steuergesetzlichen Bestimmungen bis zu zehn
      Jahre ab der Abrechnung bzw. der schriftlichen Bestätigung des Austritts durch den Vorstand aufbewahrt. <br />
      (f) Jedes Mitglied hat das Recht darauf, - Auskunft über die zu seiner Person gespeicherten Daten zu erhalten - dass die zu
      seiner Person gespeicherten Daten berichtigt werden, wenn sie unrichtig sind - dass die zu seiner Person gespeicherten Daten
      gesperrt werden, wenn sich bei behaupteten Fehlern weder deren Richtigkeit noch deren Unrichtigkeit feststellen lässt - dass
      die zu seiner Person gespeicherten Daten gelöscht werden, wenn die Speicherung unzulässig war oder die Zwecke für die sie
      erhoben und gespeichert wurden nicht mehr notwendig sind. werden die dafür erhobenen Daten gelöscht. <br />
      (i) Den Organen des Vereins, allen Mitarbeitern oder sonst für den Verein Tätigen ist es untersagt, personenbezogene Daten
      unbefugt zu anderen als den zur jeweiligen Aufgabenerfüllung gehörenden Zweck zu verarbeiten, bekannt zu geben, Dritten
      zugänglich zu machen oder sonst zu nutzen. Diese Pflicht besteht auch über das Ausscheiden der oben genannten Personen aus
      dem Verein hinaus.
    </div>
  </mat-list-item>
</mat-list>
