<form
  *ngFor="let person of $persons | async"
  #authLevelForm="ngForm"
  (ngSubmit)="updatePerson(person.id, authLevelForm.value.confirmed, authLevelForm.value.groups)"
  class="card"
>
  <h3>{{ person.name }}</h3>
  <app-tag-input [style.grid-area]="'groups'" name="groups" label="Gruppen" [ngModel]="person.groups"></app-tag-input>
  <app-dropdown
    [items]="dropdownItems"
    name="confirmed"
    label="Bestätigtes Mitglied"
    [ngModel]="person.isConfirmedMember"
  ></app-dropdown>
  <button class="text" type="submit">Speichern</button>
</form>
