<div class="date">
  <div>Beginn</div>
  <input
    #startEl
    type="text"
    class="underlined"
    [value]="start"
    placeholder="DD.MM.YYYY"
    pattern="^[0-9]{1,2}\.[0-9]{1,2}\.[0-9]{4}$"
    required="true"
    (change)="newStart(startEl.value)"
  />
</div>
<div class="date">
  <div>Ende</div>
  <input
    #endEl
    type="text"
    class="underlined"
    [value]="end"
    placeholder="DD.MM.YYYY"
    pattern="^[0-9]{1,2}\.[0-9]{1,2}\.[0-9]{4}$"
    required="true"
    (change)="newEnd(endEl.value)"
  />
</div>
<app-auth-dropdown [auth]="auth" (authChange)="updateAuth($event)"></app-auth-dropdown>
