<mat-toolbar [color]="'accent'">
  <div>Gruppen-Manager</div>
  <div class="spacer"></div>
  <mat-checkbox (change)="onCheckboxChange($event)">nur unbestätigte</mat-checkbox>
</mat-toolbar>

<mat-grid-list *ngIf="persons$ | async as persons; else loading" [cols]="cols" [rowHeight]="'170px'" [gutterSize]="'16px'">
  <mat-grid-tile *ngFor="let person of persons">
    <app-person-tile [person]="person"></app-person-tile>
    <div class="tileWrapper"></div>
  </mat-grid-tile>
</mat-grid-list>

<app-paginator [pageSize]="limit" [pageIndex]="0" [length]="length$ | async"></app-paginator>

<ng-template #loading>
  <mat-progress-bar [color]="'accent'" [mode]="'indeterminate'"></mat-progress-bar>
</ng-template>
