:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  max-width: 800px;
  margin-top: 16px;

  .content-spacer {
    flex: 1 1 auto;
  }

  form {
    margin: 16px 4px;
  }

  .mat-form-field-type-mat-chip-list {
    width: 100%;
  }
}
