<app-page-header [title]="'Guppen-Manager'" [matIcon]="'groups'"></app-page-header>

<main class="mat-elevation-z8">
  <table mat-table *ngIf="persons$ | async as persons; else loading" [dataSource]="persons" multiTemplateDataRows>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <div>
          <mat-checkbox [labelPosition]="'before'" (change)="onCheckboxChange($event)">nur unbestätigte</mat-checkbox>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="(isLoading$ | async) === false; else loadingSpinner">
          <button mat-icon-button *ngIf="!element.isConfirmedMember"><mat-icon>check</mat-icon></button>
          <!-- open popup here and then add group -->
          <button mat-icon-button (click)="onAddGroup(element.id)"><mat-icon>group_add</mat-icon></button>
          <!-- open popup here and ask for confirmation-->
          <button mat-icon-button color="warn" (click)="onDeleteUser(element.id)"><mat-icon>delete</mat-icon></button>
        </ng-container>
        <ng-template #loadingSpinner>
          <mat-spinner [color]="'accent'" [diameter]="32"></mat-spinner>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="person-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <mat-chip-list #chipList [disabled]="isLoading$ | async">
            <mat-chip *ngFor="let group of element.groups" (removed)="onRemoveGroup(element.id, group)">
              {{ group }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplay"
      class="person-row"
      [class.person-expanded-row]="expandedElement === element"
      (click)="expandedElement = element"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="person-detail-row"></tr>
  </table>

  <app-paginator [pageSize]="limit" [pageIndex]="0" [length]="length$ | async"></app-paginator>
</main>

<ng-template #loading>
  <mat-progress-bar [color]="'accent'" [mode]="'indeterminate'"></mat-progress-bar>
</ng-template>
