<app-image [id]="image._id"></app-image>
<div class="description">{{image.description}}</div>
<div class="tags">
  <app-tag *ngFor="let tag of image.tags" [tag]="tag"></app-tag>
</div>
<div class="overlay">
  <div (click)="onEdit()">
    <svg>
      <use href="assets/svg/edit-solid.svg#edit-solid" />
    </svg>
  </div>
  <div (click)="onDetails()">
    ...
  </div>
  <div (click)="onDelete()">
    <svg>
      <use href="assets/svg/trash-alt-regular.svg#trash-alt-regular" />
    </svg>
  </div>
</div>