<mat-toolbar [color]="'accent'">
  <div>Event Bearbeiten</div>
  <div class="spacer"></div>
  <a mat-icon-button [routerLink]="'/events/overview'"><mat-icon>apps</mat-icon></a>
</mat-toolbar>
<form *ngIf="$data | async; else loading" [formGroup]="eventForm" (ngSubmit)="onSubmit()">
  <mat-form-field [style.grid-area]="'title'">
    <mat-label>Titel</mat-label>
    <input matInput formControlName="title" />
    <mat-error *ngIf="eventForm.controls.title.invalid"> {{ getErrorMessage(eventForm.controls.title) }} </mat-error>
  </mat-form-field>

  <app-markdown-preview [style.grid-area]="'preview'" [markdownText]="eventForm.get('description').value"></app-markdown-preview>

  <mat-form-field class="description" [style.grid-area]="'description'">
    <mat-label>Beschreibung</mat-label>
    <textarea matInput [rows]="10" formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field class="date-time" [style.grid-area]="'start-date'">
    <mat-label>Start-Datum</mat-label>
    <input matInput placeholder="DD.MM.YYYY" [matDatepicker]="picker1" formControlName="startDate" />
    <mat-error *ngIf="eventForm.controls.startDate.invalid"> {{ getErrorMessage(eventForm.controls.startDate) }} </mat-error>
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="date-time" [style.grid-area]="'start-time'">
    <mat-label>Start-Zeit</mat-label>
    <input matInput placeholder="HH:MM" formControlName="startTime" />
    <mat-error *ngIf="eventForm.controls.startTime.invalid"> {{ getErrorMessage(eventForm.controls.startTime) }} </mat-error>
  </mat-form-field>

  <mat-form-field class="date-time" [style.grid-area]="'end-date'">
    <mat-label>End-Datum</mat-label>
    <input placeholder="DD.MM.YYYY" matInput [matDatepicker]="picker2" formControlName="endDate" />
    <mat-error *ngIf="eventForm.controls.endDate.invalid"> {{ getErrorMessage(eventForm.controls.endDate) }} </mat-error>
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="date-time" [style.grid-area]="'end-time'">
    <mat-label>End-Zeit</mat-label>
    <input matInput placeholder="HH:MM" formControlName="endTime" />
    <mat-error *ngIf="eventForm.controls.endTime.invalid"> {{ getErrorMessage(eventForm.controls.endTime) }} </mat-error>
  </mat-form-field>

  <mat-form-field [style.grid-area]="'tags'">
    <mat-chip-list #chipList aria-label="tag Auswahl" formControlName="tags">
      <mat-chip *ngFor="let tag of eventForm.get('tags').value" (removed)="removeTag(tag)">
        {{ tag }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Tags"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addTag($event)"
      />
    </mat-chip-list>
  </mat-form-field>

  <mat-expansion-panel formGroupName="deadline" [style.grid-area]="'deadline'">
    <mat-expansion-panel-header>
      <mat-panel-title>Teilnehmer</mat-panel-title>
      <mat-panel-description>{{
        this.eventForm.get("deadline").invalid
          ? getErrorMessage(this.eventForm.get("deadline"))
          : "Teilnehmer einladen und Deadline festlegen"
      }}</mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field class="date-time">
      <mat-label>Deadline-Datum</mat-label>
      <input placeholder="DD.MM.YYYY" matInput [matDatepicker]="picker3" formControlName="deadlineDate" />
      <mat-error *ngIf="this.eventForm.get('deadline').get('deadlineDate').invalid">
        {{ getErrorMessage(this.eventForm.get("deadline").get("deadlineDate")) }}
      </mat-error>
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="date-time">
      <mat-label>Deadline-Zeit</mat-label>
      <input matInput placeholder="HH:MM" formControlName="deadlineTime" />
      <mat-error *ngIf="this.eventForm.get('deadline').get('deadlineTime').invalid">
        {{ getErrorMessage(this.eventForm.get("deadline").get("deadlineTime")) }}
      </mat-error>
    </mat-form-field>

    <mat-chip-list [style.grid-area]="'groups'">
      <mat-chip
        *ngFor="let group of groups"
        [color]="'accent'"
        [selected]="true"
        (click)="onAddGroup(group)"
        (removed)="onRemoveGroup(group)"
      >
        {{ group }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>

    <mat-form-field [style.grid-area]="'participants'">
      <mat-chip-list [selectable]="true" [multiple]="true" formControlName="participants">
        <!-- for some strange reason the selected class of the chip has to be set manually here -->
        <mat-chip
          #chips
          *ngFor="let person of persons"
          [color]="'primary'"
          (click)="onPersonClick(person.id)"
          [selected]="isPersonSelected(person.id)"
          [class.mat-chip-selected]="isPersonSelected(person.id)"
        >
          {{ person.name }}
        </mat-chip>
      </mat-chip-list>
      <mat-error *ngIf="this.eventForm.get('deadline').get('participants').invalid">
        {{ getErrorMessage(this.eventForm.get("deadline").get("participants")) }}
      </mat-error>
    </mat-form-field>
  </mat-expansion-panel>
  <button
    *ngIf="!eventForm.disabled; else saveSpinner"
    mat-raised-button
    type="submit"
    [color]="'primary'"
    [style.grid-area]="'save'"
    [disabled]="eventForm.invalid || !eventForm.dirty"
  >
    <mat-icon>save</mat-icon> SPEICHERN
  </button>
  <ng-template #saveSpinner>
    <mat-spinner [style.grid-area]="'save'" [color]="'accent'" [diameter]="36"></mat-spinner>
  </ng-template>
  <button
    mat-raised-button
    type="button"
    [color]="'warn'"
    [style.grid-area]="'delete'"
    [disabled]="!event.id"
    (click)="deleteEvent()"
  >
    <mat-icon>delete</mat-icon> LÖSCHEN
  </button>
</form>

<ng-template #loading>
  <mat-progress-bar [color]="'accent'" [mode]="'indeterminate'"></mat-progress-bar>
</ng-template>
