@import "~@angular/material/theming";
@include mat-core();
$warn: mat-palette($mat-red);
$secondary: mat-palette($mat-blue-gray);

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: grid;
  width: 100%;
  max-width: 800px;
  padding: 8px;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  grid-template-rows: auto minmax(0, 300px) auto auto auto auto auto;
  row-gap: 16px;
  grid-template-areas:
    "title title"
    "preview preview"
    "description description"
    "start-date start-time"
    "end-date end-time"
    "tags tags"
    "deadline deadline"
    "save delete";

  .date-time {
    width: 150px;
    justify-self: center;
  }

  .preview {
    overflow: auto;
    border: 1px solid mat-color($secondary, 200);
    padding: 8px;
    border-radius: 4px;
  }

  .mat-spinner {
    justify-self: center;
  }

  ::ng-deep.mat-expansion-panel-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 16px;
    grid-template-areas:
      ". ."
      "groups groups"
      "participants participants";
  }
  .mat-expansion-panel {
    &.ng-invalid .mat-expansion-panel-header-description {
      color: mat-color($warn, 500);
    }
  }
}
