:host {
  display: flex;
  flex-direction: column;
  height: min-content;

  img {
    width: 100%;
    height: auto;
    padding: 0.5rem;
  }

  .buttonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    margin-top: 0;
  }
}
