:host {
  display: flex;
  flex-direction: column;

  img {
    max-width: 100%;
    padding: 0.5rem;
    padding-bottom: 0;
  }

  .buttonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    margin-top: 0;
  }
}
