<mat-card>
  <mat-card-title> {{ data.title }} </mat-card-title>
  <mat-card-subtitle>
    <div>{{ data.created | toLocalDateString }}</div>
    <div>{{ data.ownerName }}</div>
  </mat-card-subtitle>
  <mat-card-content>
    <div class="content-preview">{{ data.content }}</div>
    <mat-chip-list>
      <mat-chip *ngFor="let tag of data.tags" (click)="onTagClick(tag)">{{ tag }}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button [routerLink]="'/articles/details/' + data.id">MEHR</a>
    <a mat-icon-button *ngIf="canEdit$ | async" [routerLink]="'/articles/edit/' + data.id"><mat-icon>edit</mat-icon></a>
  </mat-card-actions>
</mat-card>
