<app-page-header [title]="'Events'" [subtitle]="'Was demnächst ansteht'" [matIcon]="'event'"></app-page-header>

<mat-grid-list
  *ngIf="data$ | async as events; else loading"
  class="content"
  [cols]="cols"
  [rowHeight]="'300px'"
  [gutterSize]="'16px'"
  @cardFlyIn
>
  <mat-grid-tile *ngFor="let event of events">
    <app-event-card [data]="event"></app-event-card>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #loading>
  <div class="spinnerContainer">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>
</ng-template>

<a
  mat-fab
  class="add-fab"
  [color]="'primary'"
  [routerLink]="'/events/edit'"
  *ngIf="canCreate$ | async"
  aria-label="Neues Event erstellen"
  matTooltip="Neues Event erstellen"
>
  <mat-icon>add</mat-icon>
</a>
