@import '../../../shared/style-partials/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;

  .add-fab {
    position: sticky;
    z-index: 1;
    bottom: 16px;
    margin: 16px 0;
  }

  h1 {
    color: $accent;
  }

  .mat-grid-list {
    width: 100%;
  }
}
