@import "src/app/shared/scss-partials/colors.scss";

:host {
  height: 100%;
  width: 100%;
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . . month-header month-header month-header . . ."
    ". Mo Di Mi Do Fr Sa So ."
    ". . . . . . . . ."
    "arrow-left . . . . . . . arrow-right"
    "arrow-left . . . . . . . arrow-right"
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . .";

  .month-header {
    grid-area: month-header;
  }

  h1,
  h2 {
    margin: auto;
  }

  .arrow {
    width: 60px;
    height: 60px;
    clip-path: polygon(0 0, 0 100%, 20% 100%, 20% 20%, 100% 20%, 100% 0);
    margin: auto;
    background-color: $secondary;
    opacity: .5;
    transition: opacity linear .2s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &.left {
      transform: rotate(-45deg);
      grid-area: arrow-left;
    }

    &.right {
      transform: rotate(135deg);
      grid-area: arrow-right;
    }
  }
}
