<span class="arrow left" (click)="switchMonth(true)"></span>
<span class="arrow right" (click)="switchMonth(false)"></span>
<h1 class="month-header"> {{getTitle(displayedMonth)}} </h1>
<h2 *ngFor="let day of ['Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa', 'So']" [ngStyle]="{'grid-area': day}">
  {{day}}
</h2>

<div *ngFor="let day of displayedMonth.days;let i = index" class="day"
  [ngStyle]="{'grid-area': displayedMonth.getGridAreaPlace(i)}">
  <day-entry #dayCells [day]="day" (selectedElem)="selectEl($event)"></day-entry>
</div>

<appointment-editor #appoEdit id="appoEd"></appointment-editor>