<div class="versionNumber">
  <span> {{ versionNumber }} </span>
</div>
<footer>
  <div class="left">
    <div class="mat-subheading-2">Kontakt:</div>
    <a
      mat-button
      href="https://www.facebook.com/pg/RoehlingerSechtanarren"
      target="_blank"
      rel="noopener"
      aria-label="Link zum Facebook Account"
      >Facebook</a
    >
    <a mat-button href="mailto: info@roesena.de" aria-label="Mail an RöSeNa Info-Stelle verfassen">info@roesena.de</a>
  </div>
  <div class="center">
    <p>
      Faschingsgesellschaft Röhlinger Sechtanarren e.V. <br />
      Dagmar Gerold <br />
      An der Sechta 2 <br />
      73479 Ellwangen-Röhlingen
    </p>
  </div>
  <div class="right">
    <div class="mat-subheading-2">Mehr Informationen:</div>
    <a mat-button routerLink="/help">HILFE</a>
    <a mat-button routerLink="/about">IMPRESSUM</a>
    <a mat-button routerLink="/data-protection">DATENSCHUTZERKLÄRUNG</a>
    <button mat-button (click)="openCookieSettings()">COOKIE EINSTELLUNGEN</button>
  </div>
</footer>
