<nav>
  <div routerLink="/" class="logo">
    <svg><use href="assets/RöSeNa.svg#roesena" /></svg>
    <span>RöSeNa</span>
  </div>
  <div class="separator">Veranstaltungen</div>
  <ul>
    <li routerLink="events">Events</li>
    <li routerLink="calendar">Kalender</li>
    <li routerLink="edit">Bearbeiten</li>
  </ul>
  <div class="separator">Über uns</div>
  <ul>
    <li routerLink="groups">Gruppen</li>
    <li routerLink="archive">Archiv</li>
    <li routerLink="images">Bilder</li>
  </ul>
  <div class="separator">Externes</div>
  <ul>
    <li routerLink="press">Presse</li>
    <li routerLink="references">Impressum</li>
    <li routerLink="links">Links</li>
  </ul>
</nav>
