@import '../../../shared/style-partials/variables.scss';

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'content image';

  @media screen and (max-width: 600px) {
    padding: 0 16px;
    grid-template-columns: 1fr;
    grid-template-areas: 'image' 'content';
  }
}

.spinnerContainer {
  display: flex;
  justify-content: center;
}

app-image-card {
  grid-area: image;
}

app-markdown-viewer {
  grid-area: content;
}

.fab-container {
  position: sticky;
  z-index: 1;
  bottom: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    margin: 8px;
  }
}
