@import "~@angular/material/theming";
@include mat-core();
$background: mat-palette($mat-grey);

.sidenav-container {
  height: calc(100% - 64px);
}

.home {
  font-size: 20px;
}

.sidenav {
  width: 240px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.version {
  padding-left: 16px;
  color: mat-color($background, 500);
}
