<mat-toolbar color="primary">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>RöSeNa</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Über uns
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/groups">Gruppen</a>
        <a mat-list-item routerLink="/images">Bilder</a>
        <a mat-list-item routerLink="/articles">Artikel</a>
        <a mat-list-item routerLink="/archive">Archiv</a>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Veranstaltungen
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/events">Events</a>
        <a mat-list-item routerLink="/calendar">Kalender</a>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Externes
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/links">Links</a>
        <a mat-list-item routerLink="/press">Presse</a>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Account
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngIf="auth.$user | async as user; else authenticate">
          <a mat-list-item routerLink="/auth/profile">Profil</a>
          <a mat-list-item [matBadge]="$badgeContentStream | async" routerLink="/auth/my-events">Meine Events</a>
          <a mat-list-item *ngIf="user.groups.includes('admin')" routerLink="/auth/group-manager">Gruppen Manager</a>
        </ng-container>
        <ng-template #authenticate>
          <a mat-list-item routerLink="/auth/login">Login</a>
          <a mat-list-item routerLink="/auth/register">Registrieren</a>
        </ng-template>
      </mat-expansion-panel>
      <div class="button-container">
        <button aria-label="help" mat-icon-button (click)="onHelpClick()">
          <mat-icon aria-label="help icon">help</mat-icon>
        </button>
        <a mat-icon-button [routerLink]="'/'" aria-label="home"><mat-icon aria-label="home icon">home</mat-icon></a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
