:host {
  width: calc(100% - 2 * var(--content-spacing));
  display: flex;
  justify-content: center;
  &.sorting {
    justify-content: space-between;
  }
  align-items: center;
  margin: var(--content-spacing);
  margin-bottom: 0;
  padding: 1rem;

  .search,
  .sort {
    display: flex;
    align-items: center;

    i {
      font-size: 2rem;
      padding: 0;
      transition: transform 0.2s ease-out;

      &.rotated {
        transform: rotate(180deg);
      }
    }
  }
}
