<div class="search">
  <app-input
    label="Suchbegriff"
    #searchInput
    [(value)]="searchString"
    (valueChange)="searchStringChange.emit(searchInput.value)"
    (keydown.esc)="searchInput.clear()"
  ></app-input>
  <button class="text icon" (click)="searchInput.clear()"><i class="material-icons">clear</i></button>
</div>

<div class="sort" *ngIf="hasSorting">
  <button class="text" (click)="toggleDescending()"><i class="material-icons">filter_list</i></button>
  <i class="material-icons" [class.rotated]="!descending">arrow_drop_down</i>
</div>
