<!-- <div class="event-wrapper"> -->

<div class="events">
  <div class="row" *ngFor="let ev of events" [routerLink]="['respond', ev.title]">
    <span class="title"> {{ev.title}} </span>
    <svg class="edit" [routerLink]="['edit', ev.title]">
      <use href="assets/svg/edit-solid.svg#edit-solid" /></svg>
    <br>
    <span> Beginn - Ende: {{ev.start.date.toDotFormat()}} - {{ev.end.date.toDotFormat()}} </span>
    <span> Deadline: {{ev.deadline.toDotFormat()}} </span>
    <svg>
      <use href="assets/svg/user-check-solid.svg#user-check" /></svg>
    <span> {{ev.getAcceptedCount()}} </span>
  </div>
  <div id="addNew" [routerLink]="['edit', ':new']"></div>
</div>
<!-- </div> -->

<div class="appointments">
  <div *ngFor="let ap of appointments" class="list">
    <span> {{ap.title}} </span>
    <span> {{ap.start.date.toDotFormat()}} </span>
  </div>
</div>