// use the entire screen and do not scroll
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  box-sizing: border-box;
  font-family: 'Ubuntu', 'sans-serif';
}
*,
::after,
::before {
  box-sizing: inherit;
}
