@import './app/shared/partials/hoverable.scss';
@import './app/shared/partials/colors.scss';

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: Roboto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
}

* {
  box-sizing: inherit;
  outline: none;
}
