:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      margin: 0 2rem;
    }

    i.material-icons {
      font-size: 3rem;
      border-radius: 3rem;
      cursor: pointer;
      transition: background-color 0.2s ease-out;

      &:hover,
      &:focus,
      &:active {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .calendar {
    flex: 1;
    margin: var(--content-spacing);
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0.5rem;
    grid-template-areas:
      "mon tue wed thu fri sat sun"
      ". . . . . . ."
      ". . . . . . ."
      ". . . . . . ."
      ". . . . . . ."
      ". . . . . . ."
      ". . . . . . .";

    h2 {
      background-color: var(--primary);
      color: var(--on-primary);
      margin: 0;
      height: fit-content;
      padding: 0.2rem;
      text-align: center;
      border-radius: 0.5rem;
    }

    .day.card {
      padding: 0.5rem;
      display: flex;
      flex-direction: column;

      h3 {
        margin: 0;
        color: var(--primary);
      }

      ul.eventWrapper {
        flex: 1 1 0;
        overflow-y: auto;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;

        li {
          margin: 0.1rem;
          padding: 0.1rem;
          background-color: var(--primary);
          color: var(--on-primary);
          border-radius: 0.2rem;
          height: fit-content;
        }
      }
    }
  }
}
