:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    text-align: center;
    background-color: var(--secondary);
    color: var(--on-secondary);

    h1,
    h2 {
      padding: 1rem;
      margin: 0;
    }

    h1 {
      font-size: 5rem;
      background-color: var(--secondary-dark);
      color: var(--on-secondary-dark);
    }

    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 1.5rem;
      cursor: pointer;

      &:hover,
      &:focus {
        font-weight: bold;
      }
    }
  }
}
