:host {
  display: block;
  position: relative;

  .info-toggle {
    position: absolute;
    top: 0;
    right: 16px;
  }

  .content {
    height: calc(100% - 18px);
    padding: 8px;
    overflow: auto;
    border-radius: 4px;
  }
}
