@import '../../shared/partials/input.scss';

:host {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  column-gap: 1rem;
  grid-template-areas: 'list main-data buttons';

  .buttons {
    grid-area: buttons;
  }

  app-selection-list {
    grid-area: list;
  }

  .article {
    grid-area: main-data;
    padding: 0 2rem;
    & > input,
    & > textarea {
      margin: 1rem 0;
      width: 60%;
      color: var(--font);
      width: 70%;
    }

    .title {
      font-size: 3rem;
    }

    .imageContainer {
      display: flex;
      overflow-x: auto;

      .imageContainer {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        align-items: center;
        margin: 1rem;

        &:hover,
        &.active {
          background-color: red;
        }

        app-image {
          height: 5rem;
        }
      }
    }
  }
}
