<div class="article">
  <input [(ngModel)]="selectedArticle.title" class="underlined title" placeholder="Titel" />
  <textarea rows="10" [(ngModel)]="selectedArticle.content" class="box" placeholder="Inahlt"></textarea>
  <h1>Bilder</h1>
  <div class="imageContainer">
    <div
      *ngFor="let image of images | async"
      class="imageContainer"
      (click)="toggleImageInSelection(image._id)"
      [ngClass]="{ active: isContainingId(image._id) }"
    >
      <app-image [image]="image"></app-image>
      <span> {{ image.description }} </span>
    </div>
  </div>
</div>

<div class="buttons">
  <app-button value="speichern" (click)="saveArticle()"></app-button>
  <app-button value="löschen" (click)="deleteArticle()"></app-button>
</div>
