<app-search></app-search>

<ul class="articleList">
  <li *ngFor="let article of (artServ.articles | async)" (click)="selectArticle(article)"> {{article.title}} </li>
  <li (click)="selectArticle(undefined)">neuer Artikel</li>
  <input type="button" value="Speichern" class="rsn-button" (click)="saveArticle()">
</ul>

<div class="article">
  <h1>Titel</h1>
  <input [(ngModel)]="title" class="underlined">
  <h1>Inhalt</h1>
  <textarea cols="30" rows="10" [(ngModel)]="content" class="box"></textarea>
  <h1>Bilder</h1>
  <app-image-manager></app-image-manager>
</div>