<app-image-card [style.grid-area]="'img1'" *ngIf="$images | async as images" [image]="images[0]"></app-image-card>
<app-image-card [style.grid-area]="'img2'" *ngIf="$images | async as images" [image]="images[1]"></app-image-card>
<app-image-card [style.grid-area]="'img3'" *ngIf="$narrengericht | async as images" [image]="images[0]"></app-image-card>
<button class="text icon">
  <a href="http://www.daswildeheer.de/"><i class="material-icons">link</i></a>
</button>
<p [style.grid-area]="'t1'">
  Der grüne Jäger ist eine Sagenfigur aus dem Umfeld von Röhlingen, der mit einer Horde wilder Gesellen, dem Wilden Heer, durch
  Wälder zieht, daß es ein Graus ist. Er gräbt oft mit Schaufel und Haue, aber er bringt kein Stäubchen Erde weg. <br />
  Nicht weit von diesen Wäldern liegen zwei alte Höfe „Forst und Vogel“. Dort erschien er öfter, ging an den Herd nahm einen Span
  und zündetete sich sein Pfeiflein an und ging ruhig seinen Weg. Dann schrie er: HoHo, HoHo, HoHo, bin au‘ scho wieder do ! Mit
  diesem Ruf hört man auch das Wilde Heer der RöSeNa durch die Gassen des Dorfes ziehen. <br />
  Die Gruppe besteht aus der Einzelfigur des Grünen Jägers, welcher ganz in grün gekleidet ist und Jagdtasche und Flinte bei sich
  trägt. In den Händen hält er Schaufel und Haue. Seine Holzmaske stellt ein verschmitzt lächelndes Gesicht mit einer Pfeife im
  Mund dar. Auf dem Kopf trägt er einen grünen Filzhut mit einer langen Feder. Die Gesellen des Wilden Heeres tragen eine grüne
  Hose auf deren rechtem Hosenbein ein Hasenfell aufgenäht ist. Die Jacke ist mit ca. 250 Stoffflecken in verschieden braun- und
  grün -tönen besetzt. Die Holzmaske ähnelt dem Gesicht des Jägers, verschmitzt lächelnd jedoch ohne Pfeife. Die Haarpracht
  besteht aus dem weißen Fell des Islandschafes. In der Hand trägt der Geselle einen Stecken. Dies ist eine mitsamt Wurzel
  ausgegrabene Kiefer, welche entrindet und lackiert ist und mit der Wurzel nach oben getragen wird.
</p>
<div [style.grid-area]="'t2'">
  <h3>11 Jahre Wildes Heer</h3>
  <p>
    Die 11 ist eine Schnapszahl, sie symbolisiert die Gleichheit aller Narren unter der Narrenkappe. Die 11 begleitet uns Narren
    bei all unserem närrischen Treiben. Daher ist es auch klar dass wir dieses elfte Jahr unseres Bestehens kräftig feiern. Wir
    tun dies sehr gerne mit Euch allen, die Ihr uns auf vielfältige Art und Weise und diesen 11 Jahre unterstützt und begleitet
    habt. <br />
    Im Jahr 1997 haben sich diese 5 Familien mit ihren Kindern zusammengefunden um eine Möglichkeit zu schaffen innerhalb der
    RöSeNa gemeinsam am Fastnachtstreiben teilzunehmen. Wir haben einen Weg gesucht wie man ohne Tanzen, Singen oder Büttenreden
    zu können aktiv und in der Gruppe an der Fastnacht mitmachen kann. Die Geschichte war recht schnell gefunden. In der
    Beschreibung des Oberamtes Ellwangen fand sich die Sage von „Grünen Jäger und dem wilden Heer“ welche unser mittlerweile
    verstorbene Ehrenpräsident Franz Mündl schon immer im Auge hatte. Mit dem Schnitzer Markus Thor aus Killingen fanden wir einen
    sehr kreativen Künstler der zwar noch nie eine Maske geschnitzt hatte aber bereit war eine Fastnachtsmaske nach unseren
    Vorstellungen zu schaffen. Und wie ihr alle seht ist ihm das so gut gelungen, dass mittlerweile ein Großteil der Masken in der
    Region unter seinem Messer entstehen. Nach vielen Überlegungen und Versuchen haben wir dann auch das Häs in der heutigen Form
    entwickelt und hergestellt. Die letzte Hürde, die Anerkennung als Maskengruppe im Landesverband Württembergischer
    Karnevalvereine wurde bei eine nervenaufreibenden Vorstellung von Häs und Maske in Lauchheim glücklicherweise zu guter letzt
    auch noch genommen. Nun konnte es losgehen wir präsentieren uns bei Fastnachtsumzügen in der Umgebung machen aber auch immer
    wieder Ausfahrten zu Narrentreffen im Bereich des Landesverbandes. Mittlerweile kennt man das „Wilde Heer“ auch in
    Oberschwaben, am Neckar, im Zabergäu sowie an Rems und Murr. In den Anfangsjahren hatten wir dann eine regen Zulauf an
    Neumitgliedern was uns bald zur größten Abteilung der RöSeNa machte und dem Verein einen Mitgliederzuwachs von ca. 45
    Erwachsenen und etwa ebenso viele Kinder brachte.
  </p>
</div>

<div [style.grid-area]="'t3'">
  <h3>Narrengericht</h3>
  <p>
    Schon im zweiten Jahr unseres Bestehens ließen wir die alte Tradition des Narrengerichtes in Röhlingen wieder aufleben. Waren
    es in früheren Jahren vereinsinterne Vergehen, wie das nicht tragen von Orden und Ehrenzeichen sowie Verletzung von
    Vereinspflichten, die vom Narrengericht geahndet wurden, so bringt das Grobgünstige Narrengericht des wilden Heeres, Übeltaten
    und Missstände von honorigen, angesehenen Bürgern aus Röhlingen und Umgebung ans Licht und zur Verhandlung. Das ganze Jahr
    über sind die Gesellen des Wilden Heeres mit offenen Augen und Ohren unterwegs um den Fortbestand dieses Gerichtstages zu
    sichern.
  </p>
</div>

<div [style.grid-area]="'t4'">
  <h3>Narrenbaum</h3>
  <p>
    Im Jahr 1999 haben wir dann erstmalig und bis dahin noch einzigartig den ersten Narrenbaum mit der Wurzel nach oben
    aufgestellt. Wir sind schon ein wenig stolz darauf, dass viele Fastnachter aus der Umgebung das mittlerweile auch so machen
    und wir somit einen Fastnachtsbrauch, den es nur auf der Ostalb gibt, begründet haben. Die Idee eine Tanne mit der Wurzel nach
    oben aufzustellen leitet sich natürlich von unseren Stecken ab, welche ja auch in dieser Art getragen werden. Mit großem
    Aufwand an Mensch und Maschinen ziehen die Mannen des Wilden Heeres jedes Jahr in den Wald um eine ausgewachsene Tanne mit
    möglichst unversehrter Wurzel auszugraben, zu säubern und zu entrinden. Wo anderen Orts Zunftsymbole an den konventionellen
    Narrenbaum gehängt werden, hängen wir symbolisierte Hinweise auf die Angeklagten das Narrengerichtes an den Baum, auch dies
    ist einzigartig. <br />
    Auch außerhalb der Fastnachtszeit gibt es immer wieder gemeinsame Aktivitäten wie Familieausflüge, Grillfeste, Weinfahrten
    oder Herbstwanderungen. Natürlich gehören auch diverse Arbeitseinsätze wie Altpapiersammlungen, Häsherstellung, Steckenholen
    oder die Mithilfe bei Veranstaltungen und Arbeiten für unseren Hautverein zum Wilde-Heer-Alltag. Im laufe der Jahre hat sich
    unsere Gruppe zu einem festen Bestandteil der RöSeNa entwickelt, konnte aber dank des guten Miteinanders im Verein und im
    einvernehmen mit der Vereinsführung eine große Eigenständigkeit bewahren und wurde nie in seiner Kreativität und seinen
    Entscheidungen beeinflusst.
  </p>
</div>
