<mat-toolbar class="header" [color]="'accent'">
  <div>
    <span class="title">Artikel</span>
    <a mat-icon-button [routerLink]="'/articles/edit'" *ngIf="canCreate()">
      <mat-icon>add</mat-icon>
    </a>
  </div>
  <div class="spacer"></div>
  <div>
    <mat-form-field class="search-field">
      <mat-label>Suchbegriff</mat-label>
      <input
        matInput
        #searchInput
        matTooltip="Suchbegriffe durch Komma trennen"
        type="text"
        [(ngModel)]="searchString"
        (keydown.enter)="searchButton._elementRef.nativeElement.click()"
      />
      <button *ngIf="searchString" matSuffix mat-icon-button aria-label="clear" (click)="searchString = ''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-icon-button #searchButton aria-label="search" (click)="onSearchClick()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-grid-list
  *ngIf="$data | async as articles; else loading"
  [cols]="cols"
  [rowHeight]="'300px'"
  [gutterSize]="'16px'"
  @cardFlyIn
>
  <mat-grid-tile *ngFor="let article of articles">
    <app-article-card [article]="article"></app-article-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-paginator
  *ngIf="!searchString"
  [pageSize]="limit"
  [pageIndex]="pageIndex"
  [hidePageSize]="true"
  [length]="$dataLength | async"
  (page)="onPage($event)"
></mat-paginator>

<ng-template #loading>
  <mat-progress-bar [color]="'accent'" [mode]="'indeterminate'"></mat-progress-bar>
</ng-template>
