:host {
  display: block;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--background);

  input {
    font-size: inherit;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--secondary);
    transition: border-color ease-out 0.2s;
    width: 100%;

    &::placeholder {
      font-style: italic;
    }

    &:invalid,
    &:focus {
      border-color: var(--primary);
    }
  }
}
