:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding: 8px;
  max-width: 800px;
  width: calc(100% - 16px);

  p {
    white-space: pre-line;
  }

  .mat-list-item {
    height: min-content;
    margin-bottom: 1em;
  }

  .mat-chip-list {
    outline: none;
  }
}
