<ng-container *ngIf="$article | async as article; else loading">
  <mat-toolbar [color]="'accent'">
    <div>{{ article.title }}</div>
    <div class="spacer"></div>
    <a mat-icon-button [routerLink]="'/articles/overview'"><mat-icon>apps</mat-icon></a>
    <a mat-icon-button *ngIf="canEdit(article)" [routerLink]="'/articles/edit/' + article.id"><mat-icon>edit</mat-icon></a>
  </mat-toolbar>
  <mat-toolbar> {{ article.created | toLocalDateString }} </mat-toolbar>
  <main>
    <div class="markdown-generated" [innerHTML]="article.content | markdown"></div>
    <mat-chip-list>
      <mat-chip *ngFor="let tag of article.tags"> {{ tag }} </mat-chip>
    </mat-chip-list>
  </main>
</ng-container>

<ng-template #loading>
  <mat-progress-bar [color]="'accent'" [mode]="'indeterminate'"></mat-progress-bar>
</ng-template>
