:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: calc(100% - 16px);
  max-width: 800px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mat-chip-list {
  width: 100%;
}

.mat-toolbar {
  overflow: hidden;
}

app-image-card {
  margin-bottom: 8px;
}

.fab-container {
  position: sticky;
  z-index: 1;
  bottom: 16px;

  a {
    margin: 8px;
  }
}
