:host {
  display: flex;
  flex-direction: column;
  margin: var(--content-spacing);

  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;

    span.static {
      font-weight: bold;
      margin-right: 1rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > * {
      margin: 1rem;
    }
  }
}
