:host {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-areas: "main";
  grid-template-rows: minmax(0, 100%);
  position: relative;

  app-snackbar {
    position: absolute;
    bottom: 1rem;
  }

  .loader {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);

    app-loading {
      width: 10%;
      height: 5px;
      border: 1px solid var(--on-background);
    }
  }

  @media only screen and (min-width: 1000px) {
    grid-template-columns: 1fr 7fr;
    grid-template-areas: "sideNav main";
  }

  app-nav-bar {
    grid-area: sideNav;
  }

  app-auth-status {
    position: fixed;
    top: 1rem;
    right: 1rem;
  }

  img {
    position: absolute;
    pointer-events: none;
    height: 90vh;
    top: 5vh;
    right: 10vw;
    opacity: 0.4;
    transition: opacity ease-out 0.2s;
    z-index: -1;

    &.opac {
      opacity: 1;
    }
  }

  main {
    grid-area: main;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
  }
}
