@import '../../shared/partials/input.scss';

:host {
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 1rem;
  grid-template-areas: 'list editor';

  .editor {
    grid-area: editor;
  }

  app-selection-list {
    grid-area: list;
  }

  .selected {
    background-color: blue;
  }
}
