:host {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;

  & > * {
    width: 70%;
  }

  .title {
    font-size: 3rem;
    margin: 1rem;
  }

  .selected {
    background-color: blue;
  }

  .person-selection {
    display: flex;
    flex-wrap: wrap;

    .person {
      padding: 0.5rem;
      margin: 0.5rem;
      background-color: var(--background);
      color: var(--secondary);
      border: 1px solid var(--secondary);
      border-radius: 0.5rem;
      transition: all 0.2s ease-out;
      cursor: pointer;

      &.selected {
        background-color: var(--secondary);
        color: var(--font-secondary);
      }
    }
  }
}
