body {
  font-family: Roboto;
  box-sizing: border-box;

  --primary: #4d69db;
  --on-primary: #ffffff;
  --primary-dark: #003fa9;
  --on-primary-dark: #ffffff;
  --primary-light: #8597ff;
  --on-primary-light: #000000;
  --secondary: #dbbe4d;
  --on-secondary: #000000;
  --secondary-light: #fff07d;
  --on-secondary-light: #000000;
  --secondary-dark: #a68e19;
  --on-secondary-dark: #000000;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: inherit;
}
