body {
  font-family: Roboto;
  box-sizing: border-box;

  --primary: #1a237e;
  --on-primary: #ffffff;
  --background: #ffffff;
  --on-background: #000000;
  --surface: #ffffff;
  --on-surface: #000000;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: inherit;
  outline: none;
}
