body {
  font-family: Roboto;
  box-sizing: border-box;

  --primary: #1a237e;
  --on-primary: #ffffff;
  --background: #ffffff;
  --on-background: #000000;
  --surface: #ffffff;
  --on-surface: #000000;
  // temporary error color
  --error: #ad150d;
  --on-error: #ffffff;
}

button {
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: var(--surface);
  box-shadow: 0 2px 5px 0px var(--on-background);
  color: var(--primary);
  border-radius: 0.5rem;
  transition: color ease-out 0.2s, background-color ease-out 0.2s;

  &:active,
  &:focus {
    background-color: var(--primary);
    color: var(--on-primary);
  }

  &:disabled {
    opacity: 0.3;
  }

  &.delete {
    color: var(--error);
    &:active,
    &:focus {
      background-color: var(--error);
      color: var(--on-error);
    }
  }
}

h1 {
  background-color: var(--primary);
  color: var(--on-primary);
  margin: 0;
  padding: 1rem;
  font-size: 3rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: sticky;
  top: 0;
}

input {
  border: none;
  border-bottom: 1px solid var(--primary);
  &#title {
    font-size: 2rem;
  }

  &:invalid {
    border-color: var(--error);
  }
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: inherit;
  outline: none;
}
