<div class="button-container">
  <button mat-icon-button [color]="'accent'" (click)="isHelpVisible = !isHelpVisible">
    <mat-icon>{{ isHelpVisible ? 'cancel' : 'help' }}</mat-icon>
  </button>
  <button mat-icon-button [color]="'accent'" mat-icon-button aria-label="close search" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="wrapper" *ngIf="!isHelpVisible; else help">
  <label id="type-radio-group">Suche nach:</label>
  <mat-radio-group aria-labelledby="type-radio-group" (change)="onRadioChange($event)" [value]="selectedOption$ | async">
    <mat-radio-button class="radio-option" *ngFor="let label of options" [value]="label" [color]="'primary'">
      {{label}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="tag-input">
    <mat-form-field>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAddTag($event, chipInput)">
        <mat-option
          *ngFor="let option of autocomplete.$existingTags | async | autocompleteFilter: chipInput.value:(searchStrings$ | async)"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let item of searchStrings$ | async" (removed)="onRemoveTag(item)">
          {{ item }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input #chipInput placeholder="Suchbegriffe" [matChipInputFor]="chipList" [matAutocomplete]="auto" />
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onClearSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-chip-list>
    </mat-form-field>
    <div class="strut"></div>
    <button mat-flat-button [color]="'primary'" (click)="onSearch()">GO</button>
  </div>
</div>

<ng-template #help>
  <ul>
    <li>Suchbegriffe müssen mit "Enter" bestätigt werden</li>
    <li>Clicks auf Elemente in der Liste fügen neue Suchbegriffe hinzu</li>
    <li>Suche wird durch Click auf die Lupe gestartet</li>
    <li>Clicks auf Tags in Kacheln fügt diese zu den Suchbegriffen hinzu</li>
  </ul>
</ng-template>
