<mat-toolbar [color]="'accent'">Login</mat-toolbar>
<main>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field [style.grid-area]="'email'">
      <mat-label>E-Mail</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="loginForm.get('email').invalid"> {{ loginForm.get("email") | errorMessage }} </mat-error>
    </mat-form-field>
    <mat-form-field [style.grid-area]="'password'">
      <mat-label>Passwort</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="loginForm.get('password').invalid"> {{ loginForm.get("password") | errorMessage }} </mat-error>
    </mat-form-field>
    <button
      mat-flat-button
      *ngIf="!loginForm.disabled; else loading"
      [color]="'primary'"
      type="submit"
      [disabled]="loginForm.invalid"
      [style.grid-area]="'button'"
    >
      LOGIN
    </button>
    <ng-template #loading>
      <mat-spinner *ngIf="loginForm.disabled" [style.grid-area]="'button'" [color]="'accent'" [diameter]="36"></mat-spinner>
    </ng-template>
    <a [style.grid-area]="'reset'" mat-button [color]="'primary'" [routerLink]="'/auth/reset'">Passwort vergessen</a>
  </form>
</main>
