<h1>Anmelden</h1>
<div class="loginWrapper">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
    <app-input
      name="email"
      label="E-Mail"
      [required]="true"
      pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
      [style.grid-area]="'mail'"
      ngModel
    ></app-input>
    <app-input name="password" label="Passwort" [required]="true" type="password" [style.grid-area]="'pw'" ngModel></app-input>
    <button [style.grid-area]="'login'" type="submit" class="contained" [disabled]="loginForm.invalid">LOGIN</button>
    <button [style.grid-area]="'new'" type="button" class="text" routerLink="/auth/register">Neues Konto erstellen?</button>
    <button [style.grid-area]="'reset'" type="button" class="text" routerLink="/auth/reset">Passwort vergessen?</button>
  </form>
</div>
