:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  .loginWrapper {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 1rem;

    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "mail mail" "pw pw" ". .";
      row-gap: 1rem;
      column-gap: 1rem;
    }
  }
}
