<app-page-header [title]="'Profil'" [matIcon]="'person'"></app-page-header>

<main *ngIf="user$ | async as user">
  <mat-list>
    <div mat-subheader>Ausloggen</div>
    <mat-list-item>
      <mat-icon mat-list-icon>exit_to_app</mat-icon>
      <div mat-line>
        <button mat-stroked-button [color]="'accent'" (click)="logout()">LOGOUT</button>
      </div>
    </mat-list-item>

    <div mat-subheader>Anzeigename</div>
    <mat-list-item>
      <mat-icon mat-list-icon>label</mat-icon>
      <div mat-line>{{ user.name }}</div>
    </mat-list-item>

    <div mat-subheader>Gruppen</div>
    <mat-list-item>
      <mat-icon mat-list-icon>groups</mat-icon>
      <div mat-line>{{ user.groups.join(', ') }}</div>
    </mat-list-item>

    <div mat-subheader>Name ändern</div>
    <mat-list-item>
      <mat-icon mat-list-icon>autorenew</mat-icon>
      <div mat-line class="newNameBox">
        <mat-form-field>
          <mat-label>neuer Name</mat-label>
          <input matInput #nameInput pattern="^[a-zA-ZäöüÄÖÜß -]+$" />
        </mat-form-field>
        <ng-container *ngIf="(isLoading$ | async) !== true; else nameSpinner">
          <button
            mat-stroked-button
            [color]="'primary'"
            [disabled]="user.name === nameInput.value || nameInput.value === '' || !nameInput.checkValidity()"
            (click)="onUpdateNameSubmit(nameInput, user.id)"
          >
            <mat-icon>save</mat-icon> SPEICHERN
          </button>
        </ng-container>
        <ng-template #nameSpinner>
          <mat-spinner [color]="'accent'" [diameter]="36"></mat-spinner>
        </ng-template>
      </div>
    </mat-list-item>

    <div mat-subheader>Account löschen</div>
    <mat-list-item>
      <mat-icon mat-list-icon>delete</mat-icon>
      <div mat-line>
        <mat-spinner *ngIf="isLoading$ | async; else deleteButton" [color]="'accent'" [diameter]="36"></mat-spinner>
        <ng-template #deleteButton>
          <button mat-flat-button [color]="'warn'" (click)="onDeleteProfile(user.id)">ACCOUNT LÖSCHEN</button>
        </ng-template>
      </div>
    </mat-list-item>
  </mat-list>
</main>
