@import '../../../shared/style-partials/variables.scss';

:host .newNameBox {
  display: flex;
  align-items: center;

  & > *:not(.mat-form-field) {
    margin-left: 16px;
  }
}

.mat-list-item {
  height: unset;

  .mat-line {
    white-space: pre-line;

    a:not(.mat-button) {
      color: $primary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// :host {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .mat-toolbar {
//   display: flex;
//   justify-content: space-between;
// }

// main {
//   max-width: 800px;
//   width: 100%;

//   button {
//     margin-left: 16px;
//   }

//   .mat-spinner {
//     margin-left: 8px;
//   }
// }
