<mat-toolbar [color]="'accent'">
  <div>Profil</div>
  <button mat-raised-button type="button" [color]="'basic'" (click)="logout()">LOGOUT</button>
</mat-toolbar>

<main *ngIf="user$ | async as user">
  <mat-list>
    <div mat-subheader>Meine Daten</div>
    <mat-list-item>
      <div mat-line mat-header><strong>Anzeigename</strong></div>
      <div mat-line>{{ user.name }}</div>
    </mat-list-item>
    <mat-list-item>
      <div mat-line><strong>Gruppen</strong></div>
      <div mat-line>{{ user.groups.join(', ') }}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Name ändern</div>
    <mat-list-item>
      <mat-form-field>
        <mat-label>neuer Name</mat-label>
        <input matInput #nameInput pattern="^[a-zA-ZäöüÄÖÜß -]+$" />
      </mat-form-field>
      <ng-container *ngIf="!(isLoading$ | async); else nameSpinner">
        <button
          mat-stroked-button
          [color]="'primary'"
          [disabled]="user.name === nameInput.value || nameInput.value === '' || !nameInput.checkValidity()"
          (click)="onUpdateNameSubmit(nameInput, user.id)"
        >
          <mat-icon>save</mat-icon> SPEICHERN
        </button>
      </ng-container>
      <ng-template #nameSpinner>
        <mat-spinner [color]="'accent'" [diameter]="36"></mat-spinner>
      </ng-template>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Account löschen</div>
    <mat-spinner *ngIf="isLoading$ | async; else deleteButton" [color]="'accent'" [diameter]="36"></mat-spinner>
    <ng-template #deleteButton>
      <button mat-flat-button [color]="'warn'" (click)="onDeleteProfile(user.id)">ACCOUNT LÖSCHEN</button>
    </ng-template>
  </mat-list>
</main>
