<app-page-header [title]="'Registrieren'" [matIcon]="'person_add'"></app-page-header>
<main>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field [style.grid-area]="'email'">
      <mat-label>E-Mail</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="registerForm.get('email').invalid"> {{ registerForm.get('email') | errorMessage }} </mat-error>
    </mat-form-field>
    <mat-form-field [style.grid-area]="'password'">
      <mat-label>Passwort</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="registerForm.get('password').invalid"> {{ registerForm.get('password') | errorMessage }} </mat-error>
    </mat-form-field>
    <button
      mat-flat-button
      *ngIf="!registerForm.disabled; else loading"
      [color]="'primary'"
      type="submit"
      [disabled]="registerForm.invalid"
      [style.grid-area]="'button'"
    >
      REGISTRIEREN
    </button>
    <ng-template #loading>
      <mat-spinner [style.grid-area]="'button'" [color]="'accent'" [diameter]="36"></mat-spinner>
    </ng-template>
  </form>
</main>
