:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;

  .registerWrapper {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 1rem;

    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      row-gap: 1rem;
      grid-template-areas: "name name" "mail mail" "pw pw" ". .";
    }
  }
}
