:host {
  .header {
    .title {
      margin-right: 8px;
    }

    .search-field {
      font-size: 12px;
      width: 150px;
    }
  }

  .mat-grid-list,
  .mat-paginator {
    margin: 16px;
  }
}
