<mat-toolbar class="header" [color]="'accent'">
  <div>
    <span class="title">Bilder</span>
    <a mat-icon-button [routerLink]="'/images/edit'" *ngIf="canCreate()">
      <mat-icon>add</mat-icon>
    </a>
  </div>
  <div class="spacer"></div>
  <div>
    <mat-form-field class="search-field">
      <mat-label>Suchbegriff</mat-label>
      <input
        matInput
        matTooltip="Suchbegriffe durch Komma trennen"
        type="text"
        [(ngModel)]="searchString"
        (keydown.enter)="searchButton._elementRef.nativeElement.click()"
      />
      <button *ngIf="searchString" matSuffix mat-icon-button aria-label="clear" (click)="searchString = ''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button #searchButton mat-icon-button aria-label="search" (click)="onSearchClick()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-grid-list *ngIf="$data | async as images; else loading" [cols]="cols" [rowHeight]="'450px'" [gutterSize]="'16px'" @cardFlyIn>
  <mat-grid-tile *ngFor="let image of images">
    <app-image-card [data]="image"></app-image-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-paginator
  *ngIf="!searchString"
  [pageSize]="limit"
  [pageIndex]="pageIndex"
  [hidePageSize]="true"
  [length]="$dataLength | async"
  (page)="onPage($event)"
></mat-paginator>

<ng-template #loading>
  <mat-progress-bar [color]="'accent'" [mode]="'indeterminate'"></mat-progress-bar>
</ng-template>
