:host {
  .header {
    .title {
      margin-right: 8px;
    }

    .spacer {
      flex: 1 1 auto;
    }

    .search-field {
      font-size: 12px;
      width: 150px;
    }
  }

  .content {
    margin: 16px;
  }
}
