ul {
  grid-area: list;
  height: max-content;
  padding-right: 2rem;
  border-right: 2px solid var(--inactive);

  & > li {
    list-style-type: none;
    padding: 0.2rem 0.5rem;
    cursor: pointer;

    &:hover,
    &.active {
      background-color: var(--secondary);
      color: var(--font-secondary);
    }
  }
}
