<app-switch *ngIf="auth.user | async" [(toggle)]="personalEvents" label="personalisiert"></app-switch>

<div class="search-wrapper">
  <app-search (search)="searchString = $event"></app-search>
</div>

<div class="event-container">
  <div class="event-card" *ngFor="let event of events | async | eventsFilter: personalEvents:searchString">
    <div class="title">{{ event.title }}</div>
    <div class="description">{{ event.description }}</div>
    <div class="separator"></div>
    <div class="participants">
      <div
        class="participant"
        *ngFor="let participant of event.participants"
        [ngClass]="{
          responded: !!participant.amount,
          rejected: participant.amount === 0,
          self: isMe(participant.person._id)
        }"
      >
        <ng-container *ngIf="isMe(participant.person._id); then me; else other"></ng-container>

        <ng-template #me>
          <div class="name">Ich</div>
          <div *ngIf="participant.amount" class="amount">{{ participant.amount }}</div>
          <svg (click)="acceptEvent(event._id)">
            <use href="assets/svg/edit-solid.svg#edit-solid" />
          </svg>
        </ng-template>

        <ng-template #other>
          <div class="name">{{ participant.person.name }}</div>
          <div *ngIf="participant.amount" class="amount">{{ participant.amount }}</div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
